[2017-08-12 22:16] StevenClontz opened #1 "Finish assessment calendar"

[2017-08-12 22:16] StevenClontz opened #2 "Finish first day slides"

[2017-08-12 22:17] StevenClontz opened #3 "Finalize syllabus and day1-slides"

[2017-08-12 22:19] StevenClontz opened #4 "Deploy materials to Sakai"
Is there a slick way of grabbing the files that should be in Sakai at a given time and having them available?

Alternatively, is it worth rigging up a Makefile or similar that deploys appropriate files to a GitHub Pages site that we run daily?

[2017-08-12 22:20] StevenClontz opened #5 "Module E RAT"
Due by Monday 2017-08-21

Includes adapting RATs to scratch cards

[2017-08-12 22:20] StevenClontz opened #6 "Build slides from module files"

[2017-08-12 22:21] StevenClontz opened #7 "Module V RAT"
Due by 2017-09-05

[2017-08-13 21:39] StevenClontz opened #8 "SBG"
[code]

This seems untrue to me as-is, since we're giving the students several other tasks: completing HW reports, attending class, completing RATs, etc. etc..

I would actually like this to be true (by having a single grade specification measured by # checkmarks), but we'd have to incentivize participation for all the other desired activities otherwise. This is out of scope for this semester, but

[2017-08-14 13:07] siwelwerd opened #9 "Local versions of class-macros.tex"
Figure out how we can each have different local versions of class-macros.tex so we are always compiling things for our own classes.

[2017-08-14 13:15] siwelwerd opened #10 "Automate production of readiness assurance materials"

[2017-08-14 13:25] #8 closed, assigned to siwelwerd

[2017-08-15 15:25] siwelwerd opened #11 "Pretty up readiness materials"
Fix the headers

[2017-08-15 15:26] #10 closed, assigned to siwelwerd

[2017-08-15 17:04] #2 closed, assigned to nobody

[2017-08-15 17:06] #9 closed, assigned to StevenClontz

[2017-08-15 17:07] StevenClontz opened #12 "optimize build script"
We need to improve `/bin/build.bash' so that it compiles all PDFs and copies files in appropriate section folders for easy uploading to LMS. First priority is making sure it builds what is needed for the first days of class this week.

[2017-08-15 20:08] #3 closed, assigned to nobody

[2017-08-16 13:41] #1 closed, assigned to nobody

[2017-08-16 16:29] #4 closed, assigned to nobody

[2017-08-16 16:58] StevenClontz opened #13 "Finish Module S application activities"
Right now some of the activities are only sketches.

[2017-08-16 17:02] StevenClontz opened #14 "Improve course-notes.sty and course-slides.sty formatting"
In particular, we should have counters (managed by amsthm or otherwise) to enumerate activity/fact/definition/etc environments.

[2017-08-16 17:03] #12 closed, assigned to StevenClontz

[2017-08-16 17:04] #11 closed, assigned to nobody

[2017-08-16 17:45] StevenClontz opened #15 "finalize peer evaluation"
faf8af12f76d819e857a133645e26f04ccb8d571

Look good?

[2017-08-16 17:47] #15 closed, assigned to siwelwerd

[2017-08-16 20:12] siwelwerd opened #16 "*xtr Files not ignored"
Assessment branch -- I added *.xtr to .gitignore , but it still seems to be including these files.

[2017-08-16 20:16] #16 closed, assigned to nobody

[2017-08-17 16:09] StevenClontz opened #18 "10 questions for each RAT"

[2017-08-17 16:59] StevenClontz opened #19 "homework reports"
I updated mine - Drew will want to update his version probably.

[2017-08-17 17:17] #19 closed, assigned to siwelwerd

[2017-08-17 17:42] #5 closed, assigned to nobody

[2017-08-17 17:42] #6 closed, assigned to nobody

[2017-08-17 18:08] StevenClontz opened #20 "address module 1-E TODOs"

[2017-08-17 20:27] StevenClontz opened #21 "tRAT/iRAT answer forms"

[2017-08-18 14:48] siwelwerd opened #22 "Finalize look of assessments"
Quiz generation is functional.  @StevenClontz please take a look at how they look right now--let me know what changes we need to make to the appearance/organization.

[2017-08-18 17:15] #21 closed, assigned to nobody

[2017-08-18 17:15] #18 closed, assigned to StevenClontz

[2017-08-18 17:27] StevenClontz opened #23 "Module S RAT"

[2017-08-18 21:11] StevenClontz opened #24 "Extract definition lists for each day"

[2017-08-21 13:12] #20 closed, assigned to StevenClontz

[2017-08-21 17:29] #14 closed, assigned to StevenClontz

[2017-08-21 17:30] StevenClontz opened #25 "Modules A/M/G in course-slides"
Bugfix modules A/M/G to correctly produce slides.

[2017-08-21 17:31] StevenClontz opened #26 "Module G course-notes"
bugfix module G to produce course notes.

[2017-08-21 19:17] #24 closed, assigned to StevenClontz

[2017-08-21 19:18] StevenClontz opened #27 "module 2-V handouts/notes"

[2017-08-21 20:01] siwelwerd opened #28 "Produce daily notes to post after class"

[2017-08-21 20:13] #26 closed, assigned to siwelwerd

[2017-08-21 20:14] siwelwerd opened #29 "Add time estimates for modules A/M/G"

[2017-08-21 20:18] StevenClontz opened #30 "Assessment Calendar -> Class Calendar"
Would be helpful to have a more robust calendar that labels each day with its Module and purpose (RAT/Review/Activities). In particular the lecture version doesn't clearly distinguish modules.

[2017-08-21 20:21] #25 closed, assigned to siwelwerd

[2017-08-21 20:28] #28 closed, assigned to StevenClontz

[2017-08-21 20:28] StevenClontz opened #31 "Daily notes/handouts for Module V"

[2017-08-21 20:30] siwelwerd opened #32 "Course notes include instructor notes"
Remove instructor notes from production of student versions of course notes--in particular, daily course notes

[2017-08-22 16:29] #32 closed, assigned to StevenClontz

[2017-08-22 16:38] #30 closed, assigned to siwelwerd

[2017-08-22 17:20] #22 closed, assigned to StevenClontz

[2017-08-22 17:22] StevenClontz opened #33 "Refactor generateQuiz.pl to read quiz-standard map from file, and allow locking quizzes"
We need to have a mechanism to "lock in" generated quizzes: e.g. once we've given Quiz 4 on Mon/Tue, we should never regenerate those quizzes.

[2017-08-22 19:40] #33 closed, assigned to siwelwerd

[2017-08-22 19:50] siwelwerd opened #34 "Problems for Module E quizzes"

[2017-08-22 19:50] siwelwerd opened #35 "Problems for Module V Quizzes"

[2017-08-22 19:51] siwelwerd opened #36 "Problems for Module S Quizzes"

[2017-08-22 19:51] siwelwerd opened #37 "Problems for Module A Quizzes"

[2017-08-22 19:51] siwelwerd opened #38 "Problems for Module M Quizzes"

[2017-08-22 19:51] siwelwerd opened #39 "Problems for Module G Quizzes"

[2017-08-23 15:25] siwelwerd opened #40 "Quizzes don't handle implicit standards elegantly"
Clontz quizzes do not have a space for a mastery mark for standards assessed implicitly, like E2. (e.g. on Quiz6)

[2017-08-24 17:46] StevenClontz opened #41 "Fix typo in module 1-E part 1"
"conzero" should be "nonzero".

@siwelwerd minor content changes like this typo can be fixed directly to master. But for issues that would significantly change an activity or break counters, we should make an issue under "Content Revisions" that should be fixed in the `content-revisions` branch. We'll merge that branch back into `master` at the end of the semester.

[2017-08-24 17:51] #41 closed, assigned to StevenClontz

[2017-08-24 19:19] siwelwerd opened #42 "Module 1-E Content revisions"
Issue to track non-trivial content improvements to 1-E; will add one comment with discovered issues after each class day.

[2017-08-24 20:06] #27 closed, assigned to StevenClontz

[2017-08-25 15:55] StevenClontz opened #43 "generate all quiz versions in same PDF (?)"
Feel free to talk me out of this @siwelwerd , but I think logistically it'll be easiest to print/copy if all quiz versions for each instructor are in the same PDF.

[2017-08-25 17:07] #40 closed, assigned to StevenClontz

[2017-08-25 17:19] #43 closed, assigned to siwelwerd

[2017-08-28 14:56] siwelwerd opened #44 "Handouts don't specify class day"
The definition handouts just have the module name in the header, but dont say e.g. Part 2.  Very low priority.

[2017-08-28 14:58] siwelwerd opened #45 "MWF Adaptation"
Adapt course to handle three 50-minute class periods a week instead of two 75-minute periods.

[2017-08-28 19:58] StevenClontz opened #46 "Separate content from course-specific data (e.g. syllabus)"
Towards the end of the semester, I think we should consider reducing this repo to just the content layer (notes/slides/standards/exercises) for possible distribution to other instructors, and extract the other materials/tools (syllabi, calendar, specific assessments) into separate repository(ies).

[2017-08-28 20:35] #34 closed, assigned to nobody

[2017-08-29 13:34] siwelwerd opened #47 "Module A RAT"
Finalize and align answer choices with IF-AT

[2017-08-29 13:34] siwelwerd opened #48 "Module M RAT"
Finalize and align answers with IF-AT card

[2017-08-29 13:35] siwelwerd opened #49 "Module G RAT"
Finalize and align answer choices with IF-AT card

[2017-08-29 20:58] siwelwerd opened #50 "Review Module E Part 3"
Last minute changes to Module E Part 3; @StevenClontz review tomorrow morning.

[2017-08-30 14:55] siwelwerd opened #51 "Class 29 Activities"
Module G needs another day of activities after the revised schedule; probably a day long thing on Google Page Rank.  This will be the last day of class, Class 29 (Module G part 5)

[2017-08-30 14:57] siwelwerd opened #52 "Generate Midterm/Semifinal/Final"
Adapt quiz generation code to generate these three.

[2017-08-30 15:51] StevenClontz opened #53 "match V1 standard activities to match assessments"

[2017-08-30 15:53] #50 closed, assigned to StevenClontz

[2017-08-31 20:02] siwelwerd opened #54 ""Grade" Application Activities"
We should somehow add a a grading specification for curating and uploading VNPS class work.  A few quick ideas:

- Simplest option is to just tell them to upload a PDF
- This would be a decent opportunity for a metacognative component.  Have them explain the work somehow--an audio explanation over the PDF "slides" via VoiceThread might be an option.

[2017-09-01 17:47] #7 closed, assigned to StevenClontz

[2017-09-05 15:57] #31 closed, assigned to StevenClontz

[2017-09-05 16:12] #44 closed, assigned to nobody

[2017-09-05 16:35] StevenClontz opened #55 "Rewrite V1 exercises"
I'd like to consider weakening V1, changing "I can determine if a set with given operations forms a vector space." to "I can determine if a set with given operations satisfies a given vector space property." In particular, I think that there's too much variance in difficulty in our current exercises: compare disproving a property to proving all the properties in a 15 minutes quiz.

I think it's ac

[2017-09-06 14:44] #53 closed, assigned to StevenClontz

[2017-09-06 19:48] siwelwerd opened #57 "Problem count is buggy"
Seems to be producing duplicate lines?

[2017-09-06 20:11] #35 closed, assigned to siwelwerd

[2017-09-07 16:15] siwelwerd opened #58 "Module 2-V Content Revisions"
**Part 1** is pretty great.  Only two activities but two solid activities with lots of good thinking.  They were confused by the notation of {\bf 0} for the additive identity element--they all said there was no additive identity since (0,0) wasn't an additive identity.  I am undecided if I recommend changing that or not, but I wanted to document that before I forget.  They didn't have enough time

[2017-09-18 16:49] #55 closed, assigned to siwelwerd

[2017-09-20 20:38] #23 closed, assigned to StevenClontz

[2017-09-26 16:56] siwelwerd opened #59 "Module 3-S Content Revisions"
Part 1
Timing was a little off, but fixed itself by the end.  Activity 12.8 doesn't need 10 minutes, while 12.3 and 12.5 both went slightly over 10 minutes.

The wording on Activity 12.1 confused them.  It might be better to phrase as "Split S into two groups, such that each vector in the second group is in the span of the first group".  Activity 12.3 confused them again with the notation.  Might

[2017-10-02 17:39] #29 closed, assigned to siwelwerd

[2017-10-02 19:55] #36 closed, assigned to StevenClontz

[2017-10-02 19:57] StevenClontz opened #60 "Notation"
We should probably settle on notation. For example, Drew uses `M_{m,n}` where the book (and therefore Steven) uses `\IR^{m\times n}`.

[2017-10-02 20:41] #60 closed, assigned to siwelwerd

[2017-10-03 13:51] #13 closed, assigned to StevenClontz

[2017-10-04 17:16] #47 closed, assigned to StevenClontz

[2017-10-04 20:43] #57 closed, assigned to siwelwerd

[2017-10-11 22:38] StevenClontz opened #61 "revert and lock in clontz midterms"
apparently the midterms never got locked in, so I need to dig up whatever commit has the midterm versions I printed, restore them, then prevent them from being overwritten in future builds. Not sure if this affects @siwelwerd midterms.

[2017-10-12 19:10] #61 closed, assigned to nobody

[2017-10-12 20:05] StevenClontz opened #62 "Standard List revisions"
Make Standard A1 go both ways

[2017-10-13 20:41] siwelwerd opened #63 "Proofread Module A (including slides)"
Module A has been updated as per our conversation on 10/13.  It could use another set of eyes to catch any typos, notation inconsistencies, or formatting issues.

[2017-10-14 19:48] #63 closed, assigned to StevenClontz

[2017-10-17 14:01] StevenClontz opened #64 "Module 4-A Content Revisions"
**Part 1**

I think the first activity needs more scaffolding, split into four activities. The first asks to replicate the example for another Rn linear transformation. The second asks to find a counterexample showing an Rn map isn't linear. The third asks students to figure it out for themselves (still an Rn example). Finally the fourth asks students to verify that the derivative map is linear.

[2017-10-18 18:30] #37 closed, assigned to nobody

[2017-10-25 16:59] #48 closed, assigned to siwelwerd

[2017-10-26 16:30] siwelwerd opened #65 "Proofread Module M"
The slides/notes are updated based on our conversation a couple weeks ago.  We both need to proofread them before Steven's class on Monday.

[2017-10-26 16:31] siwelwerd opened #66 "Proofread Module M again"

[2017-10-30 15:06] #66 closed, assigned to siwelwerd

[2017-10-30 16:39] #65 closed, assigned to StevenClontz

[2017-10-30 18:17] #38 closed, assigned to nobody

[2017-10-30 21:49] StevenClontz opened #67 "Module 5-M Content Revisions"
## Part 1 (lecture)

I received some natural questions about when compositions and matrix multiplication may be reversed. It'd be natural to have activities to answer those questions (rather than just an aside in 21.11).

We also could use some images/examples to illustrate 21.10 and 21.11.

[2017-11-08 16:20] siwelwerd opened #68 "Proofread Module G"
I updated the first four days based on my notes from our discussion a few weeks ago.  It needs to be proofread thoroughly by Monday.  I still need to make the activity for class 29, but that is not until after Thanksgiving.

[2017-11-08 18:46] #49 closed, assigned to StevenClontz

[2017-11-08 21:43] siwelwerd opened #69 "Logistical / General (non-content) Improvements"
Starting this as an issue to keep track of thoughts for non-content-related ideas for improvements for the spring.

**1) No more than 4 standards per quiz.**  As soon as the quiz is longer than one piece of paper (front and back), it requires manual sorting.

**2) Make better use of RAP days.**  Most of the days did not require 50-60 minutes for readiness assurance.  We could use the time for some

[2017-11-14 17:40] siwelwerd opened #70 "Module 6-G Content Revisions"
**Part 1** worked really well in my class.  I didn't bother with doing 25.1 as an activity, just talked about it briefly.  Then they were off and running with the rest of them.  I was done in 48 minutes, so I think there would be time to go ahead and talk about transposing and row operations in the first day.

[2017-11-14 17:41] StevenClontz opened #71 "Module 6-G Content Revisions"
## Part 1

This was one of the best days I've had.

I think even the shortened discussion of eigenvectors probably wasn't appreciated at this stage; I think it could be saved until Part 3.

I'd consider changing Activity 25.6 to be something like `[-2 & 3 \\ 4 & -6]` to differentiate it a bit further from the `[e_2 & e_1]` example.

The colors in 25.10 could be adjusted to make the picture clearer

[2017-11-14 17:45] #71 closed, assigned to nobody

[2017-11-15 18:58] #52 closed, assigned to nobody

[2017-11-15 20:38] #68 closed, assigned to StevenClontz

[2017-11-17 22:23] #51 closed, assigned to siwelwerd

[2017-11-22 14:18] #39 closed, assigned to nobody

[2017-11-28 14:45] siwelwerd opened #72 "Facilitator notes"
I started on some facilitator notes; eventually we should fill these in for all six modules.

[2017-11-28 15:02] siwelwerd opened #73 "Refactoring TODOs"
Starting this as a collection of TODOs for refactoring/restructuring the project between semesters.  We can break this apart into separate issues as needed.  I'm not going to think about these until after the semester, but just trying to get a list going now:

1) Separate Content/Assessment/Ancillary files (e.g. syllabus)
2) Rework how quizzes/final are "locked in"
3) In assessment layer, pull out

[2017-12-14 16:46] siwelwerd opened #74 "Coding conventions"
We had a mishmash of conventions used, I think while we are revising we should take the opportunity to clean the code up as much as possible as we go.  Starting a list here:

**1. Definitions should use \term{} for the term being defined.**
**2. Vectors should always use \vec not \vect**
**3. $$ ... $$ should be replaced by \[ ... \]**
**4. Braces, parentheses, etc. around multi-line code blocks s

[2018-01-05 21:17] #73 closed, assigned to nobody

[2018-01-05 21:24] #46 closed, assigned to nobody

[2018-01-05 21:28] siwelwerd opened #76 "Exercise Library"
Update list of homework problems to reflect modified standard list.

[2018-01-05 21:36] #45 closed, assigned to nobody

[2018-01-05 21:39] StevenClontz opened #77 "Whitespace in wordy slides"
I agree that there should be better spacing in wordy slides as @siwelwerd added in 1a4b6a656. But the current solution isn't portable (it's based on absolute sizes; I haven't checked how that affects the slides PDF but I assumed you did) and violates content/presentation separation of concerns.

This is a minor TODO as long as notes+slides aren't broken.

[2018-01-05 21:43] #74 closed, assigned to nobody

[2018-01-05 22:01] #54 closed, assigned to nobody

[2018-01-05 22:01] #69 closed, assigned to nobody

[2018-01-05 22:20] StevenClontz opened #78 "Model exercises for each standard"
We should produce a list of model exercises for each standard (not in the exercise library).

[2018-01-24 20:02] StevenClontz opened #79 "Differentiate types of "Activities""
I'd like to make it clear when teams should be creating an artifact of a full solution (e.g. "Choose a z such that v+z=v.") or simply discuss things as a team without necessarily worrying about a rigorous solution (e.g. "How many vectors req. to span R2? (A) 1, (B)2 ...").

[2018-02-12 14:42] StevenClontz opened #80 "Multipart activities should be clearly indicated on slides."
Alternatively, we could add a header that communications that multiple parts follow. But in particular, there's one question in V that isn't clear that it has multiple parts that break it down, and generally I don't see a purpose of not displaying the first part of the question by default on slides.

[2018-02-26 16:20] StevenClontz opened #81 "Module 7-P (Applications)"
For now I've dummied out the pagerank and another application day, and wrote a section on balancing chemical equations. I just ran it in class this morning, and it went well. I'll run it twice more today and will report if there are any issues.

We should revise the pagerank section before the end of the semester. I haven't looked at the mechanical engineering (?) section.

[2018-03-01 18:23] #78 closed, assigned to StevenClontz

[2018-03-24 16:56] #76 closed, assigned to nobody

[2018-06-05 15:21] #42 closed, assigned to nobody

[2018-08-21 16:43] siwelwerd commented on #72
Tweaked these a little to adjust for the module V & S collapse and IF-AT card change, should be okay now.  Reopen if needed.

[2018-08-21 16:43] #72 closed

[2018-08-21 16:51] siwelwerd opened #82 "Issue about issues"
I propose closing the "Revision" issues (#42 #58 #59 #64 #67 #70 #81), as all suggested revisions have been considered and implemented as needed.  We should open new issues for Jared & Selvi's suggestions, just to keep things clean.

[2018-08-21 16:51] siwelwerd commented on #82
Also might be good to make a "Release", or whatever Github calls it.

[2018-08-21 19:11] #81 closed

[2018-08-21 19:12] #58 closed

[2018-08-21 19:12] #70 closed

[2018-08-21 19:12] #67 closed

[2018-08-21 19:13] #59 closed

[2018-08-21 19:13] #64 closed

[2018-08-21 19:23] StevenClontz opened #83 "Fall 2018 Feedback"
Hopefully this won't be so broad as to need multiple issues, but feedback from Jared/Selvi should be documented here.

[2018-08-21 19:24] #62 closed, assigned to nobody

[2018-08-21 19:25] StevenClontz commented on #62
Yeah I'm pretty happy with the list I used last summer.

[2018-09-12 17:53] selvikara commented on #83
Correction:

- Module V, Activity V.1.6, Part 1: Show that 1 "is" the scalar multiplication ...

Suggestion:

- Module V, Definition V.0.3: adding the names of properties such as associativity of addition, commutativity, additive identity element, additive inverse, associativity of scalar multiplication, scalar multiplication identity, etc..

- Module V, Activity V.1.6, Part 1: If we change the st

[2018-12-11 21:04] siwelwerd commented on #83
Summarizing the feedback from today's meeting with @selvikara and @JaredHolshouser

- Standard M4 duplicated G1; rather than have it as a separate standard, it should be addressed in the Module G RAT.  Standard G1 should be modified to have students compose two row operations.
- The fact that matrices (as a generalization of Euclidean vectors) are a vector space should be introduced early on.
- In

[2018-12-11 21:12] siwelwerd commented on #83
Rename Standard V9.  Maybe "Polynomial basis computation".

[2018-12-12 17:51] siwelwerd opened #84 "Flatten Activities"
Remove section divisions from activities, and update facilitator notes to guide instructors in how to easily partition modules into discrete class sessions.

[2018-12-12 17:54] siwelwerd opened #85 "Update problems"
Standard G1-- rewrite problems (in both exercise library, sample assessment problems, and assessment problems) to have students compose row operations
Standard A1 -- some assessment problems had uneven difficulty levels--problems about polynomials should not use expressions like ax^2+bx+c.
Standard V4 -- Similarly, some assessment problems are  of varying difficulty as well.

[2018-12-12 17:54] siwelwerd commented on #83
I addressed most of these, and split the rest out into #84 and #85 .

[2018-12-12 17:54] #83 closed

[2018-12-17 18:52] #84 closed

[2018-12-17 18:53] siwelwerd opened #86 "Update facilitator notes"
The facilitator notes need to be updated to reflect changes that have occurred.

[2018-12-17 21:50] #86 closed

[2019-01-07 17:38] siwelwerd commented on #85
Fixed in e481f1

[2019-01-07 17:39] #85 closed

[2019-01-07 17:40] siwelwerd opened #87 "Automate RAT/IFAT alignment"
Come up with a way to automatically align the RATs with a chosen IFAT card.

[2019-04-15 15:51] StevenClontz opened #88 "Variety in application-application activities"
@siwelwerd Recently overheard a MechE student in my Diff EQ class complaining that too many of the applications of linear algebra we cover are comp sci (crypto+PageRank). It might be worthwhile to have another option (not necessarily MechE, but it's probably fair to not double up on comp sci).

[2019-04-15 15:58] siwelwerd commented on #88
Right now there is a geology application, a statics application (Mech E?), and then two CS (crypto, PageRank).  So I would probably argue with the student a bit ;).  That said, I am not in love with the cryptography one, so I will work on coming up with another one to replace that.  I wonder if there is a way to do a circuits one without getting into the DE aspects.

[2019-04-15 16:06] StevenClontz commented on #88
Student argues that statics is Civil Engineering, not Mechanical. :man_shrugging: But I feel statics is at least in the ballpark; I think replacing crypto with an Electrical Engineering circuits application to have a more balanced coverage might be an okay solution.

[2019-05-14 16:53] StevenClontz opened #90 "Better explain the trivial kernel (particularly its basis)"
One of our standards is to find the basis of the kernel of a linear map. But if the kernel is trivial, it's not clear if the basis is `\{\vec 0\}` or `\emptyset`; it's also not clear to the students who have been told to produce the basic vectors using the coefficients of free variables (what free variables?).

[2019-05-15 15:55] StevenClontz opened #91 "Add multiplication of matrices using technology"
Add a part 3 to activity M7 which says `Use technology to check your work.`

[2019-05-15 16:58] StevenClontz commented on #91
Welp, right after I reported this, I realized that we already added a separate activity on the next "day" (for me, 5 minutes later) that talks about using technology, which I was able to skip (since I had them do the tech stuff on M7 ad hoc).

So this should be closed; although it emphasizes that our activities are still very opinionated about the length of a class period. (Tagging @siwelwerd in c

[2019-05-15 16:58] #91 closed

[2019-05-15 17:02] StevenClontz opened #92 "Consider moving row operation matrix discussion to G."
We used to have the discussion of row operation matrices in M because (a) it's about matrix multipication and (b) we had a standard for it in M. However, (b) is no longer true. I'll revisit this issue again once I cover the discussion in G, but I suspect that we'd recover a bit of time by moving this discussion fully into G.

[2019-05-15 17:51] siwelwerd commented on #91
That is one of the main reasons I added the sectioning feature. This allows an instructor to reorder activities, introduce additional activities, add conclusion slides at the end of the day, etc.  So maybe if I get that fixed and/or documented better that will help with this issue.

[2019-05-15 18:12] StevenClontz commented on #91
Yep I remember you saying you developed something for this purpose, but I don't know how to use it (and for the purposes of this semester, using the materials lumped together isn't a huge inconvenience, particularly if I'd just peek ahead through the slides while they take their quiz each morning so I know what's coming up).

[2019-05-16 15:31] siwelwerd commented on #92
Let's chat about this next week.

[2019-05-20 16:57] StevenClontz opened #93 "G27 incorrect image"
On activity G.27, it's not clear which axis is which. `x` should probably be the outward axis to match conventions from Calculus 3, but that's not necessary. In any case, it appears that x is used as the rightward axis for `[3 1 0]^T`, and it is used as the outward axis for `[0 1 1]^T`, so this should be cleaned up.

[2019-05-21 18:53] StevenClontz opened #94 "P.9 typo"
On slide P.9, there is a typo in the page rank matrix. The lower matrix has the correct numbers.

[2019-05-22 17:01] StevenClontz opened #95 "V.3 typo"
In one of the distributive properties in V.3, the `\cdot` is missing on the RHS.

[2019-05-23 19:50] StevenClontz opened #96 "P.24 clarification"
We should clarify that when we say "variables", we mean "real-number variables".

[2019-08-14 15:10] #95 closed

[2019-08-14 15:18] #94 closed

[2019-08-14 15:19] #96 closed

[2019-08-14 15:20] siwelwerd commented on #92
After teaching this summer, I am inclined to leave this like it is.

[2019-08-14 15:27] #90 closed

[2019-08-14 15:37] #93 closed

[2019-08-14 15:40] siwelwerd opened #97 "Convert to Pretext"
This is aspirational at this point, but I think it is the "right" solution in the long run, particularly as the feature set of Pretext grows. This would also supercede Issues #77 #79 #80 and possibly #87.

[2019-08-15 18:13] siwelwerd opened #98 "Renumber Modules"
We merged the third module into the second at one point, but never fixed the module numbering.

[2019-09-27 17:46] siwelwerd opened #99 "Revise problems"
I think a number of assessment problem prompts can (should) be revised to elicit more detailed student reasoning. For example:

- On E2, I think a two part question of "Show RREF(A)=(whatever the RREF is) " followed by "Explain why (some matrix close to but not in RREF) is not in RREF". Many students like to use their calculator to find the RREF, and work towards that, but have trouble when I ask

[2019-09-27 18:09] StevenClontz opened #100 "Generate randomized exercises"
Using [StevenClontz/mastr](https://github.com/StevenClontz/Mastr/) and a little bit of scripting for each standard, we should generate thousands of example exercises for use in practice and assessment. (See also #99 when writing these.)

[2019-11-04 19:08] siwelwerd opened #101 "Revise A4 problems"
I am presently annoyed grading A4 problems. Students often will only answer "T is injective" and not mention surjectivity; or, if it is bijective or neither, they say something like "T is both injective and surjective because there are pivots in all rows and columns", so it is unclear if they know which one means injective and which one means surjective. Thus I am recommending revising A4 problems

[2019-11-04 19:10] siwelwerd commented on #92
Having just done this section again today, I like these activities where they are.

[2019-11-04 19:11] siwelwerd commented on #99
I am presently annoyed grading A4 problems. Students often  will only answer "T is injective" and not mention surjectivity; or, if  it is bijective or neither, they say something like "T is both injective  and surjective because there are pivots in all rows and columns", so it  is unclear if they know which one means injective and which one means  surjective. Thus I am recommending revising A4 pro

[2019-11-04 19:11] #101 closed

[2019-11-04 19:12] siwelwerd commented on #101
Duplicates #99 ; added as a comment htere.

[2019-11-04 19:13] siwelwerd commented on #98
Marking this wontfix, as this can be fixed when converted to PreTeXt #97

[2019-11-04 19:22] StevenClontz commented on #92
I'll close this then, but make a note to reopen in the spring when I teach it again if I think think it should be moved.

[2019-11-08 18:25] siwelwerd opened #102 "Revise Activity M.18"
Part 1 of M.18 gave both of my sections lots of trouble this semester. Maybe a part 0 about finding the kernel; they didn't seem to grasp on their own that solving Ax=e_1 is the same procedure as solving Ax=0, which they are comfortable doing.

[2019-11-08 18:27] siwelwerd commented on #100
Along with this, we should be able to automate the generation of a table of matrices and their RREF that includes every matrix needed in every assessment problem, along with distractors.

[2019-11-08 19:11] StevenClontz commented on #100
Yeah: there's two steps to this. (1) Mastr currently generates a PreTeXt XML document with a question and answer; it probably should be an extension of PreTeXt (or its own syntax) so we can add this kind of metadata (`<hints><hint>RREF=...</hint><hint distractor="true">unrelatedRREF=...</hint></hints>`). (2) Right now Mastr only creates online homework at https://mastr.clontz.org/ and my separate

[2019-11-08 19:26] siwelwerd commented on #100
I actually don't think Mastr should generate assessments necessarily. I think it should generate libraries of problems (i.e. a list of N problems for each standard). I would find it useful to have two of these libraries: one for HW problems, and the other a problem bank for assessments.

The assessment problem bank could then be fed into either your SbgRails app, or the perl script I use, or whate

[2019-11-08 19:32] StevenClontz commented on #100
Yeah, for each library (hw/assessment), we need two things. (1) A LaTeX document that can be copy/pasted by laypersons as needed. (2) An XML or JSON file for easy parsing by scripts for advanced users. But ultimately I want Mastr to include a client-side app to automate things for laypeople as well.

[2019-11-08 19:48] siwelwerd commented on #100
What exactly do you mean by "client-side app"? Something like the perl script I use could be distributed with Mastr, which would allow clients to generate assessments by modifying a LaTeX document class to their liking and running the script. If you mean something user-facing in your SBGRails ecosystem, that is probably an order of magnitude more effort.

(If it is not clear, there are two subtext

[2019-11-08 20:11] StevenClontz commented on #100
In this context a client-side app is a Javascript web application that can be hosted on a static web server (e.g. GitHub pages). We don't want our users to have to open a terminal for a Perl script to use the TBIL Resource Library to its fullest - ultimately I don't want them to have to mess with LaTeX at all. I want them to go to a webpage, check the boxes of the standards they want to assess, th

[2019-11-14 18:54] siwelwerd opened #103 "Tweaks to Module G"
Activities G.8-G.9 need better distractors. The pictures might be able to be improved as well.

[2019-11-21 19:15] siwelwerd commented on #103
Activity G.47 threw my students for a loop -- the 3x3 determinant caused some issues. The two subsequent activities are much better.

I think the language throughout module G can be cleaned up a bit as well to further discourage Laplace expansion.

[2019-12-16 17:48] siwelwerd commented on #100
I started adding some of the Mastr input files for some of the standards. I think it makes more sense to keep them with the course, than with the Mastr project.

[2019-12-16 17:55] StevenClontz commented on #100
This sounds fine to me. After last week, I'm less focused on developing [another standard](https://xkcd.com/927/) for generating math exercises. Instead I learned what I need to create static copies of [OPL](http://webwork.maa.org/wiki/Open_Problem_Library#.XffEinVKg5k) exercises without running a WebWork server, which we may be able to take advantage of for some standards (I don't know what LA st

[2019-12-16 18:34] siwelwerd commented on #100
I tried poking around the OPL website, and am not having much luck readily identifying a collection of LA problems. It seems to be organized by university (?).

Webwork is nice because it is Perl, not python, but it's also ugly (and unclear if we can use the power of Sage?). Now that I have done a handful of LA standards for Mastr it is actually pretty quick and will serve my needs for the spring.

[2019-12-17 18:03] siwelwerd opened #104 "Module E Mastr problems"
See #100

[2019-12-17 18:03] siwelwerd opened #105 "Module V Mastr Problems"
See #100

[2019-12-17 18:04] siwelwerd opened #106 "Module A Mastr problems"
See #100

[2019-12-17 18:04] siwelwerd opened #107 "Module M Mastr problems"
See #100

[2019-12-17 18:04] siwelwerd opened #108 "Module G Mastr problems"
See #100

[2019-12-18 14:50] #103 closed

[2019-12-18 14:57] #102 closed

[2019-12-18 15:24] siwelwerd commented on #106
For A3 problems, be sure the kernel is nontrivial.

[2020-01-08 16:46] StevenClontz commented on #104
Closed by e47eb5f34223c187baab3072730edc750deed652

By the way @siwelwerd be sure to git pull this and mastr when you get back from travel, and update any scripts accordingly. I've put in some work to clean house and document things (look at READMEs in this repo's exercise folder and the mastr repo).

[2020-01-08 20:03] StevenClontz commented on #106
I've done A2 and A3. I seem to recall you had an idea for A4, so I'll let you implement.

I think we should discuss your V1 and then decide how to approach A1.

[2020-01-08 20:48] StevenClontz commented on #107
Closed by 74c52be8fe194901a5f7adce816a1445e3995727

[2020-01-08 20:50] StevenClontz commented on #107
50 seeds for each working exercise are up here https://mastr.clontz.org/

[2020-01-09 21:18] StevenClontz commented on #106
Closed by 844c547d37103646c2a62ac39aabec36d4407bad

[2020-01-09 21:18] #106 closed

[2020-01-09 21:19] StevenClontz commented on #108
Closed by 6d55fbd075b9647afdce76d21c44b12d9dc1ad83

[2020-01-09 21:20] StevenClontz commented on #100
Everything except V is serviceable. Please reopen any of the other modules' issues if you want me to tweak anything (unless you want to fix it yourself).

[2020-01-09 21:21] StevenClontz commented on #100
Note that I am cheating and using `<p>(a) foo</p><p>(b) bar</p>` in place of itemized lists; I hope this is good enough until I find a more scalable solution for transforming the PreTeXt.

[2020-01-10 16:41] siwelwerd commented on #105
I have a dozen or so types for V1 as of  b1d25cb . These will need thorough proofreading before this issue can be closed.

[2020-01-10 17:12] StevenClontz commented on #105
@siwelwerd Are you okay with me changing any non-vector spaces that only fail the additive inverse property to have the student first prove that the additive identity exists?

[2020-01-10 17:15] siwelwerd commented on #105
Sure. I went back and forth on how to deal with that, since that property only makes sense to check  when an additive identity exists.

[2020-01-10 18:11] siwelwerd commented on #105
OK, rough versions of V1 and V4 are in the repository. I haven't had time to update my build script since you tinkered with the organization of things, so I haven't been able to compile things to see how they look. Currently in triage mode since catching up from travel has been interrupted by emergent house plumbing issues.

[2020-01-10 18:20] StevenClontz commented on #105
I'm having lunch now and have a 1pm phone call. After that I'll finish reviewing V01 and look at V04

[2020-01-10 20:55] StevenClontz commented on #105
I proofed V01 and I think it's good now. (You were overly pessimistic about the existence of additive identities.) I don't promise that all failing properties are included in our answers, but agree that the ones in our answers do fail; if a student presents one that fails not on our list, it's easy enough to check (and then we can add it to the generator).

Go to http://mastr.clontz.org/lin-alg/V0

[2020-01-10 21:13] StevenClontz commented on #105
V04 is up at http://mastr.clontz.org/lin-alg/V04/

I may refactor to use Sagemath vectors/variables and their latex output (so we won't have weirdness like `x^{2}3y`).

Can you look over everything on Monday and make sure we're happy with at least E and V?

[2020-01-10 21:41] StevenClontz commented on #105
I realized that you probably were just missing a plus in that example I mentioned, but I went ahead and refactored anyway. Should be visible at that link momentarily.

[2020-01-10 22:01] siwelwerd commented on #105
Thanks, there were probably some issues with things like 1x as well.

Drew Lewis
(251) 460-3120

Department of Mathematics and Statistics
University of South Alabama
411 University Boulevard North
Mobile, AL 36688-0002

On Fri, Jan 10, 2020, 3:42 PM Steven Clontz <notifications@github.com>
wrote:

[2020-01-14 14:11] siwelwerd commented on #104
Is there a reason we switched E1 from going both ways? The problems right now only convert to an augmented matrix, none ask students to write a system from an augumented matrix (we previously had problems going both ways).

@StevenClontz : I am reopening, but feel free to justify and re-close if this was intentional.

[2020-01-14 14:24] siwelwerd commented on #105
Proofreading notes:
- Small punctuation issue on V1
- I think V5 and V6 should probably ask about a set of vectors

I'll make these cosmetic changes when I am back in the office.

[2020-01-14 14:30] siwelwerd commented on #107
Typo in prompt of M2 (invertible is mispelled two different ways :)

I think students would appreciate a name for the matrix in M3, so that they can write e.g. A^{-1}=... .

[2020-01-14 14:33] siwelwerd commented on #108
G1 answers should probably mention the matrix multiplication part (e.g. PQA).
On G4, should "value" at the end of the prompt be "eigenvalue"?

[2020-01-14 14:50] StevenClontz commented on #104
Nah you're right. I'll address this.

[2020-01-14 16:24] StevenClontz opened #109 "Remove Module S from introduction"
The introduction still references a separate Module S.

[2020-01-14 17:04] #107 closed

[2020-01-14 17:07] StevenClontz commented on #108
G1 also needs to have random ordering of P,Q. I'm working on these now.

[2020-01-14 17:16] #108 closed

[2020-01-14 17:26] #104 closed

[2020-01-14 19:01] #105 closed

[2020-01-14 19:07] siwelwerd commented on #109
I tried to fix this by deleting two lines from tex/modules/0-I/index.tex . But when I do this, git thinks I haven't changed anything. Not sure if it is inadvertently being ignored? I didn't see anything obvious in .gitignore that would cause this.

[2020-01-14 19:37] StevenClontz commented on #109
Well, I don't have trouble changing and committing the change (see a3523b7f), but apparently something about my build environment is screwed up:

[code]

So I cannot make a new `course-slides.pdf`.

[2020-01-14 19:39] siwelwerd commented on #109
Something is messed up... when I try pulling, it thinks I have changes, but not when I push or stash?

drewlewis@ASILB0439-01 ~/math/teaching/tbil-la (master)
$ git pull
remote: Enumerating objects: 11, done.
remote: Counting objects: 100% (11/11), done.
remote: Compressing objects: 100% (1/1), done.
remote: Total 6 (delta 4), reused 6 (delta 4), pack-reused 0
Unpacking objects: 100% (6/6), done.

[2020-01-14 19:42] StevenClontz commented on #109
Yikes. What do `git status` and `git diff` say?

[2020-01-14 19:43] siwelwerd commented on #109
drewlewis@ASILB0439-01 ~/math/teaching/tbil-la (master)↓
$ git status
On branch master
Your branch is behind 'origin/master' by 1 commit, and can be fast-forwarded.
  (use "git pull" to update your local branch)
nothing to commit, working directory clean
drewlewis@ASILB0439-01 ~/math/teaching/tbil-la (master)↓
$ git diff
drewlewis@ASILB0439-01 ~/math/teaching/tbil-la (master)↓
$

[2020-01-14 19:51] siwelwerd commented on #109
I had the file set as assume-unchanged for the local sectioning.

[2020-01-14 19:53] StevenClontz commented on #109
TIL a new-to-me Git feature.

Can you rebuild with the updated module I?

[2020-01-14 19:54] siwelwerd commented on #109
Just pushed the revised one in a3523b7 . Closing this issue, make a new issue if your build issues persist.

[2020-01-14 19:54] #109 closed

[2020-01-14 20:23] siwelwerd commented on #100
Some problems (like E1 and E2) generate extra whitespace in the tex output. It looks like this is because there is a conditional at the beginning of these. I am not sure if the "right" way to fix it lies in the templates or the Mastr code. I could probably do something hacky with LaTeX to make it work for me if needed as well.

[2020-01-14 20:54] siwelwerd commented on #99
I believe this is complete, but am leaving this open until @StevenClontz has a chance to give the sample exercise file a quick once-over for any glaring discrepancies with the new Mastr prompts.

[2020-01-14 21:12] StevenClontz commented on #99
V1 needs work - inconsistency on (x_n,y_n) vs (x_1,x_2), and I wouldn't accept your solution for (b) without revision.

There's a typo ("set") in V3.

V4 has the same issue with V1: I strongly prefer picking a specific counterexample rather than proving the equality fails in general. I'll compromise by offering two version of this (and V1)'s solution.

Rather than outline further, I'll just make a

[2020-01-15 16:44] StevenClontz commented on #100
You're referring to this?

[code]

So yes, the extra newlines between the `\begin` and `\end` tags is likely from the lines that have ERB conditionals.

I think the immediate way to solve this (until I can refactor the templates altogether) is to do a replacement of all whitespace with a single space when outputting LaTeX. That way we only get newlines when we're supposed to (via tags like `<p>`).

[2020-01-15 16:50] StevenClontz commented on #100
Does this do what you want it to?

[code]

[2020-01-15 18:03] siwelwerd commented on #100
I think that will work.

[2020-01-15 19:03] StevenClontz commented on #99
Please review the changes made in a5d771d6.

I'd honestly rather remove "Solution method 1" in V1,V4,A1, but if you still strongly prefer that method then it's best to keep both in there (assuming we'd both accept either method).

[2020-01-15 19:09] siwelwerd commented on #99
I can live with what you have now. I took out your preferred approach when I revised the solutions because I noticed students using that method were having more trouble than students who were using the first method.

[2020-01-15 19:09] #99 closed

[2020-01-15 19:17] StevenClontz commented on #100
So the dcd7dcb commit in the mastr repo produces that kind of output. Try it and see if the LaTeX works better for you now.

[2020-01-16 15:18] siwelwerd commented on #100
Looks good to me. I think that wraps this up.

[2020-01-16 15:18] #100 closed

[2020-01-16 15:34] siwelwerd opened #110 "Module V tweaks"
We discussed a few tweaks to presenting vector spaces, adding a few more class activities.

Additionally, I am tempted to remove the complex numbers from the RAT. This is used only in Remark V.7, not in an activity. I am thinking replacing it with more set builder notation would be good (to help them with V4).

[2020-01-16 17:14] siwelwerd commented on #110
Looks like we use complex numbers in V.25 as well, but that could be changed.

[2020-01-16 17:18] StevenClontz commented on #110
I'm okay with dropping complex numbers.

[2020-01-16 17:19] siwelwerd commented on #110
Okay, I'll make those adjustments. I am working through module V at the moment to make sure I have everything on the right day, so I will go ahead and make those tweaks. I'll let you know when the new activities and RATs are ready for proofreading.

[2020-01-16 21:24] StevenClontz opened #111 "Activity E.8"
It might make sense to explicitly ask students how many solutions this system has, before asking to find 3 of them.

[2020-01-21 15:58] siwelwerd commented on #110
@StevenClontz Take a look at the two new RAT questions, Activity V.12, and Activity V.24. If you are happy or only have minor corrections, this issue can be closed.

[2020-01-21 16:04] siwelwerd commented on #111
I give them a quick verbal prompt to that effect, so I don't see the need to have it in the slide. But if you feel that strongly about it go ahead and change it.

However, maybe we need to write up more detailed facilitator notes with comments like these that aren't in the slide.

[2020-01-21 16:53] StevenClontz commented on #111
I'm not big on spending time on facilitator notes as most instructors won't read them anyway. As best as possible, the slides should run the class on their own.

[2020-01-21 17:10] StevenClontz opened #112 "RREF activities (Mod E)"
I see that you've added some more activities to break down RREF algorithm rather than offloading to a video. I think this makes sense (it was the only thing we offloaded outside class), but I think this is the first time I've seen these.

In E.17 I think I understand why you added "find a solution", but students were still all over the board on what I was looking for. I think if we replaced these

[2020-01-21 17:11] StevenClontz opened #113 "Standardize row operation notation"
I realized today that the notation @siwelwerd put in recent slides does not match with the notation I used in the generated G1 exercises. Drew's notation seems to be more standard (out of the textbooks I pulled from my shelf) so I need to fix my stuff to match his.

[2020-01-21 17:13] #113 closed

[2020-01-21 17:26] siwelwerd commented on #112
Yeah, forgot to mention that I added them in there. I haven't looked at these since the fall, but I thought they worked better than our original attempts and the offloading to the video.

E.17: I am with you on reducing extraneous cognitive load. I think I just didn't want to have a system x=3, y=5 and say "Find a solution", which would be trivial.
E.18: I like it.
E.19: Agreed, but I like keeping

[2020-01-21 17:32] StevenClontz commented on #110
Looks good.

[2020-01-21 17:32] #110 closed

[2020-01-21 17:40] StevenClontz commented on #112
E.17: I'm okay with the trivial x=3, y=5, z=7 I think. At this stage they still need discussion on what the goal of solving a system means.

I agree the definition should stay on E.19.

[2020-01-24 14:26] siwelwerd commented on #112
I saw the cognitive load issues you mentioned with E.17 on Wednesday. Some groups did just fine, others skipped over the reduced system because they couldn't see how to "solve it" (by which I think they mean "find a unique solution"). My groups didn't have any issues with E.19 as written, though I think your suggestion would be an improvement nonetheless.

[2020-02-06 15:20] StevenClontz opened #114 "V02 typesetting/modifications"
Right now V02 tends to print off the edge of the page due to the long list of vectors.

I also like randomly asking about "span" rather than just asking about "linear combinations". But I also like the "and" being put in the question about linear combos (I predict at least one student will augment the matrix where "and" is, revealing a lack of mastery that needs to be addressed).

[2020-02-06 17:43] siwelwerd commented on #114
My LaTeX code typesets them just fine -- not sure if I have just chosen optimal margins or what, as LaTeX is generally pretty dumb about overfull hboxes. I guess an easy fix would be to change <m> to <me> in
https://github.com/StevenClontz/tbil-la/blob/86f7bb3b3e7175290e4bfe16d41ed5c0b1952cde/exercises/mastr/V02.xml.erb#L5

[2020-02-06 18:02] StevenClontz commented on #114
Yeah I switched `\(math\)` to `\[math\]` by hand, but a change from `<m/>` to `<me/>` in the source would make it less susceptible to overfull hboxes.

[2020-02-06 18:55] #114 closed

[2020-02-06 19:53] StevenClontz opened #115 "Module V tweaks"
It would be instructive for this activity (V.31) if the result of RREF(the natural matrix) had a row of all zeros except for a 1 at the end.

[2020-02-07 16:09] siwelwerd commented on #115
Looks like our slides are off by 1 -- I added an additional V1 activity in 5d4882166622eec049abe3b3a347e142048ba4f0 at the beginning of the semester, so your V.31 is the current repository's V.32.

I think V.23 and V.25 would be better if Part 1 said "Write an equation of polynomials/matrices".

[2020-02-10 16:08] siwelwerd commented on #115
Fact V.31 probably should be revised to (also) say something about a vector equation.
V.32 - V.34 would go smoother with an emphasis on the systems, perhaps even a scaffolded part 1 to that effect.

I think this will apply elsewhere as well -- if we are requiring an explanation beyond "Row of zeroes" on assessments, we should explain better in the slides.

[2020-02-10 19:26] StevenClontz commented on #115
This semester I am accepting "row of zeroes" since it's a characterization we establish in the slides. But I think I like a broader policy for this course that it is not sufficient for mastery to just point out a feature of a resulting matrix: you also have to interpret what that feature means (e.g. "The row of zeroes witnesses a possible contradiction of 0=1." might be okay?)

[2020-02-11 14:43] siwelwerd commented on #115
I decided to go ahead and ask them to really explain when we say "Explain" on the assessments; on V3 in particular, I told them I want them making some reference to a system (either always being consistent, or potentially being inconsistent, upon augmenting). I am seeing fewer mistakes on the in-class activities when they go ahead and phrase things as a question about a system instead of jumping s

[2020-02-11 15:02] StevenClontz commented on #115
I may do the same then, with more leniency for revisions in the next couple
weeks.

On Tue, Feb 11, 2020, 8:43 AM Drew Lewis <notifications@github.com> wrote:

[2020-02-11 15:03] StevenClontz commented on #115
We should confirm the sample solutions meet that standard

On Tue, Feb 11, 2020, 9:01 AM Steven Clontz <steven.clontz@gmail.com> wrote:

[2020-02-11 15:04] siwelwerd commented on #115
I believe we changed all the sample solutions to meet this standard before the semester.

[2020-02-12 17:48] StevenClontz opened #116 "Refactor Module V exercises to use random_matrix"
V02 should be refactored to use a random_matrix simialr to other exercises. This will allow us to provide the student/instructor with a relevant matrix/RREF in the answer, for convenience when practicing/grading (e.g. the student can determine if the issue was with the matrix calculation or the concept itself).

[2020-02-12 18:56] siwelwerd commented on #116
Probably also V03, V05, V06, V07, V08, and V09. Changing the title of this accordingly.

[2020-02-12 19:23] StevenClontz commented on #116
I also think we might need to lower the dimension of things a bit: I don't think we need them to be typing out 4x6 matrices when 3x5 is probably sufficient to demonstrate mastery of the concept.

[2020-02-12 19:45] StevenClontz commented on #115
Yeah I think so. It may also be worth rephrasing the exercises to explicitly ask them to rephrase the exercise as a question about linear systems. But rephrasing the exercises would be better to wait and do after the semester ends.

[2020-02-13 19:52] StevenClontz commented on #116
I'll work on this tomorrow I think, depending on if I get caught back up in my grading. It should be easy enough to do as we have similar exercises for other standards.

[2020-02-14 16:03] siwelwerd commented on #116
Students were having me do some RREF calculations that produced unpleasant looking matrices for V03. I won't have time to fix it today, but I can see the logic error; this should be resolved by using the random_matrix approach though.

[2020-02-14 17:23] StevenClontz commented on #116
I also think it might make sense to reword V2 to say something like "if yes, provide the witnessing linear combination".

[2020-02-14 18:21] siwelwerd commented on #116
I'm not sure I like having that in the prompt (also should be "a" not "the"); that is one valid explanation but there are others. I am happy if they justify the existence of a solution to an appropriate system, even if they don't write down a solution.

[2020-02-14 18:29] StevenClontz commented on #116
I think there's value in it, but not strongly enough to tweak the exercise
if you don't agree.

Steven Clontz
https://clontz.org - steven.clontz@gmail.com

On Fri, Feb 14, 2020 at 12:21 PM Drew Lewis <notifications@github.com>
wrote:

[2020-02-14 21:09] siwelwerd commented on #115
I think Fact V.49 should be removed. Fact V.47 is good. Activity V.48 should be redone so that the last vector is independent of the first four (to emphasize that looking at [v_1 v_2 v_3 v_4 | v_5] is not sufficient).

[2020-02-17 17:05] siwelwerd opened #117 "Update standards list"
The list of standards should probably be updated to reflect the change in expectations; for example, V2 should say "I can explain why" rather than "I can determine".

[2020-02-18 21:51] StevenClontz commented on #116
I believe this is closed by 17e220528d64ee504de738c4e6de1eec529ce03a -- close the issue if I'm correct.

[2020-02-19 19:51] StevenClontz opened #118 "Limit V04 to R3 subspaces"
I don't think there's any conceptual importance to working with R3/R4 vectors in standard V04; they just add time needed to write things out rigorously (and add time to check solutions carefully). I think I'd like to refactor these exercises to only consider subsets of R2. Let me know if you're okay with that and I'll go ahead and to this.

[2020-02-19 19:51] StevenClontz commented on #118
@siwelwerd

[2020-02-19 20:21] siwelwerd commented on #118
Conversely, I might argue that this should only be done in R^4 or higher, where students can't use geometry. If questions are all R^2, the questions become "Is it a line through the origin or not".

[2020-02-19 20:24] StevenClontz commented on #118
Well, that's a fair point. But the intuition is always that simple: "is the equation a linear combination of the variables equaling zero". The interesting part is if they can verify the subspace property by the definition, once they've done the quick work of ruling out the subset that uses an absolute value or a square.

[2020-02-19 20:26] StevenClontz commented on #118
Somewhat related: I've thought about having advanced projects this semester. ("If you can come to my office and show me without notes a whiteboard proof that every subspace of R2 is a line passing through the origin, I'll give you both V04 checkmarks automatically.")

[2020-02-19 20:34] siwelwerd commented on #118
I also think there's value in having more variety in what the problems look like.

Is there really that much more writing? If you increase the dimension by one, you have to write one more component on 3, maybe 4 vectors. The time to actually check depends on what the defining equation(s) look like, not how many components the vector has.

[2020-02-19 20:36] siwelwerd commented on #115
Activity V.71 could use names for the four subspaces.

[2020-02-19 20:41] StevenClontz commented on #118
More writing leaves more opportunity for "typos" which increases the number of required revisions. And the equations are necessarily shorter for two-variable examples. When I compare a current 2D and 4D exercise, I think the 2D exercise's solution is measurably shorter to write and review.

[2020-02-19 20:54] StevenClontz commented on #118
Possible compromise: stick to R3? I'm okay with all our subspaces being planes passing through the origin (as okay as I am having all subspaces being n-spaces passing through R^(n+1)'s origin as we have currently implemented).

[2020-02-20 14:08] siwelwerd commented on #118
Yeah, let's just cut it down to R^3.

[2020-02-20 14:24] StevenClontz commented on #118
I'll implement this today most likely. Do we want 1D subspaces in addition
to 2D? E.g. 2x=3y=5z. Or maybe punt that until after the semester?

On Thu, Feb 20, 2020, 8:08 AM Drew Lewis <notifications@github.com> wrote:

[2020-02-20 14:37] siwelwerd commented on #118
I don't think any of the activities or readiness materials have any sets with two constraints (because of your general concern that adding constraints increases time needed to check things), so I anticipate two constraints causing cognitive overload.

[2020-02-20 15:23] StevenClontz commented on #118
That matches my thoughts as well. So I'll simply make our examples planes
in R3, and non-examples other surfaces in R3.

At this stage I wonder if V04 shouldn't just be revisited from scratch. If
we're just looking at Euclidean subspaces, they're all just solutions sets
to homogeneous systems. And would it serve our students better to prove a
set is a subspace by providing/proving a set that spans

[2020-02-20 16:11] siwelwerd commented on #118
Hmm. I'll think about this. Even for non-Euclidean spaces, every subspace is the kernel of some linear transformation.

[2020-02-20 17:48] #118 closed

[2020-02-20 17:49] #116 closed

[2020-02-21 15:17] StevenClontz opened #120 "tracking PDFs"
I've hit the issue of not being able to add modified PDFs to the repo (which I think[?] came up before). If I recall, this is a result of something you've done to support your modified builds split up by section.

I don't want to break your workflow so I'll let you figure out how to build the updated sample solution in c8020d61 and add its PDF to the repo.

Long-term I'd recommend custom builds sh

[2020-02-27 15:28] siwelwerd commented on #120
Run `git ls-list -v`. If a file is preceded by a lower case 'h', it is marked --assume-unchanged. I believe the command to revert that is `git update-index --no-assume-unchanged FILE`

[2020-02-27 15:34] siwelwerd commented on #120
As an aside, I am going to try and find a better way to allow local versions this summer. Maybe by then the repository will be stable enough that forking at the beginning of the semester would be the way to go.

[2020-02-27 16:52] StevenClontz commented on #120
For what it's worth, I still think supporting local versions in the main repository is an anti-pattern (although if you want to maintain a personal customization workflow then go wild). If we're looking for wide adoption then the materials ideally should be suitable for multiple environments out-of-the-box.

[2020-02-27 16:53] StevenClontz commented on #117
Strong agree. Each E1 should give either a linear system, a vector equation, or an augmented matrix, and students are tasked with describing the corresponding other two. And the activities would need to be updated to reflect this.

[2020-02-28 18:13] siwelwerd commented on #120
There are no local versions in the repository. All there is are instructions to allow instructor/developers to change files locally, and not have those changes pushed up to the repository.

So if you are still having issues, I believe the problem is on your end, not anything with the repository.

[2020-03-02 14:51] StevenClontz commented on #120
I got capital H when running `git ls-files -v`, and you built the changes in 64e4db513bc1c8b1974e284a4e7f77b6b3c53fa5 so I'm closing this for now.

[2020-03-02 14:51] #120 closed

[2020-03-02 16:19] StevenClontz commented on #115
It's worth considering changing the canonical reason for linear (in)dependence in our activities. Right now we establish that a non-pivot column witnesses a linear system with infinitely-many solutions. In particular, this seems an (unnecessary?) step removed from the definition of linear dependence, which is that there exists a linear combination of vectors equal to another vector.

Would it be c

[2020-03-02 16:24] StevenClontz commented on #115
Alternatively, maybe the "right" way to look at this is not that there are infinitely-many solutions, but that there's a non-trivial solution. Put that way, the non-trivial solution directly witnesses a linear combination breaking independence, and the lack of one directly witnesses that no such combination exists.

[2020-03-02 16:50] siwelwerd commented on #115
Actually, "the" definition of linear dependence is that there is a nontrivial/infinitely many ways to construct the zero vector. This distinction is really only useful in the case of the set containing only the zero vector (which is linearly dependent).

`Alternatively, maybe the "right" way to look at this is not that there are infinitely-many solutions, but that there's a non-trivial solution.`

[2020-03-02 17:04] StevenClontz commented on #115
Your canonical definition of linear dependence is not what we define in our slides. We currently define dependence as "one vector in the set belongs to the span of the others" on slide V.44. Which still forces `\{\vec 0\}` to be dependent since `\operatorname{span}(\emptyset)=\{\vec 0\}`. But switching to yours might be more symmetric: spanning means `(linear combo)=v` has at least one solution, i

[2020-03-02 18:10] siwelwerd commented on #115
Yeah, I like "one vector is in the span of the others" as the intuitive/informal definition, and probably where we should start. *Then* develop the formal (canonical?) definition as a result of that, which better motivates our technique(s) for checking.

I almost want a "Quick check" environment for this sort of thing. But yes.

[2020-03-02 18:29] StevenClontz commented on #115
I'm not exactly sure what you mean by "Quick check" environment, but I have been thinking along these lines: I think I like having "computational" standards which might require 2 demos of mastery and can be done with just quickly checking matrix features, and "writing" standards which only require 1 demo of mastery, but need full explanations. So the writing standards would be V1, V4, A1 obviously

[2020-03-02 18:37] siwelwerd commented on #115
Right now we have a "Fact" environment, that says e.g. "Fact V.49 A set ... is linearly dependent iff every column is a pivot column". I would rather it say "Quick Check V.49 ..." to emphasize that is not complete reasoning.

[2020-03-02 18:54] StevenClontz commented on #115
Oh duh. That's a good idea.

Thinking ahead, we can obviously hack PreTeXt to do whatever, but these are the canonical `theoremlike`s: https://pretextbook.org/doc/guide/html/overview-math-results.html I'd need to dig deeper to see what the "correct" way of customizing one would be. (Or we could just always include "Quick Check" in the title of such facts.)

[2020-03-02 19:00] siwelwerd commented on #115
We can rename one of them if we feel so inclined. https://pretextbook.org/doc/guide/html/basics-ch-rename.html

This seems hacky though. I feel like there ought to be a way to define our own tag, inheriting from another tag if need be.

[2020-03-02 19:54] StevenClontz commented on #115
Yeah we could write some minimal `XSL` that imports the core `mathbook-html.xsl` to let us customize things. I think the least brittle solution would be to define a custom attribute, e.g. `<fact variant="quick-check">...</fact>` so that the source would still be valid PreTeXt if used in another context (it would just be missing the custom title). I'd ping the PreTeXt dev google group to see if the

[2020-03-24 16:04] siwelwerd opened #121 "Module A Tweaks"
Activity A.28 should be presented like A.29 to reduce extraneous cognitive load. This was especially noticable after the two week layoff!

[2020-04-06 13:41] StevenClontz commented on #92
No way am I using this semester to decide to dig up this topic, despite a reminder popping up in my email to consider it. Leaving closed indefinitely. (-:

[2020-04-07 12:57] siwelwerd opened #122 "Module M Tweaks"
- I still don't love the last question on the RAT.
- An introductory observation about composing linear maps, with a brief reminder of how to evaluate a linear map when given the matrix, would help the first part of M run smoother.
- Activities M1 and M2 worked better when I had students work both of them together.
- There is a small typo in M6

[2020-04-07 12:58] siwelwerd commented on #121
I am wondering about changing standard A2 to be "Here is the standard matrix, now compute T(v)". Despite a high success rate on this standard, students have trouble in Module M when they need to do that to compose linear transformations.

[2020-04-08 19:31] siwelwerd commented on #122
- I don't like the prompt on Part 1 of M7. I'd rather it ask what are the domain and codomain of the maps.
- Similarly, the language of Definition M5 and Observation M8 should place more emphasis on the maps than the dimensions of the matrices.

[2020-04-10 15:00] StevenClontz commented on #115
I think for V3/V5, our students may need to write out augmented matrices. E.g. for V3

![image](https://user-images.githubusercontent.com/1559632/78999977-60634380-7b11-11ea-9d5a-77fb05f72d66.png)

It seems most of my students are memorizing the sentence about the vector equation, but possibly not seeing the relationship to the matrix work.

[2020-04-10 15:00] StevenClontz commented on #115
This may also be addressed by including vector equations in the E1 standard too.

[2020-04-10 15:23] siwelwerd commented on #115
I see that as well, they get an R and a comment like "What system of equations are you referring to?". I don't know that the problems need to change though.

[2020-04-10 19:51] StevenClontz commented on #115
I agree -- this is more for the sample solutions (I want to require them to write an augmented matrix, but can't because our sample solutions don't do that).

[2020-04-11 15:55] StevenClontz commented on #121
For A2 exercises, perhaps we just always give the function expression of the transformation and always ask (a) for the standard matrix, and (b) for T(v) to be computed specifically using the standard matrix? That removes a measurement of their ability to turn a standard matrix back into the transformation function, but maybe that's not as important as making sure they use the standard matrix direc

[2020-04-11 17:29] StevenClontz commented on #122
I thought we already changed this, but labeling the matrices as A,B,C would be useful. In particular I'm seeing a lot of ABs where BA should be when they label, so I'm not sure the ABs where they aren't specifically labeling are valid.

[2020-04-11 17:36] StevenClontz commented on #122
For convenience I want to include the RREF of the matrix in M2's generated answers.

[2020-04-11 17:50] StevenClontz opened #123 "Clarity in explanations"
I had a thought about how our exercises can be reworded to perhaps more clearly request the insights we're looking for. What if we requested students to write down appropriate definitions first, and then request that they use their definition to explain a property? E.g.

"Give the definition of an invertible matrix. Then use this definition to explain why the following matrix is or is not invertib

[2020-04-15 13:41] siwelwerd commented on #123
I am not opposed to this but I don't think it will help very much. Instead of saying "You need to explain more" we will say "That's not the definition" when they say "The definition of linear independence is that every column is a pivot column" (my students already say things like this). Broadly speaking, our students don't know what a definition is.

[2020-04-15 13:47] siwelwerd commented on #121
Maybe on A2 just provide two maps. Give T as a function expression, and ask for the standard matrix. Give a standard matrix for S, and ask for S(v) for some vector v.

[2020-04-15 14:33] StevenClontz commented on #123
Our students don't know what a definition is right now because our assessment structure doesn't require them to. I expect that with this change students will be more mindful of the distinction.

[2020-04-18 19:43] siwelwerd commented on #115
I am leaning towards wanting to rewrite many of the V questions in the following format:

Consider the statement "v1 is a linear combination of the vectors v2,v3, and v4"
(a) Write an equivalent statement in terms of solution(s) of a vector equation or a system of linear equations.
(b) Determine if these statements are true or false. Be sure to explain your reasoning.

Maybe need to tweak the lang

[2020-04-18 21:01] StevenClontz commented on #115
Perhaps amend (b) to say

(b) Explain why the statement you provided for (a) is true or false.

to make super explicit that they need to use that language in part (b).

I think your overall idea is probably better than my other suggestion, as it's more explicit about what we mean by "the definition".

[2020-04-20 15:51] siwelwerd commented on #122
Yeah, why did we change that in the first place?

[2020-04-20 16:00] StevenClontz commented on #122
It looks like I wrote M1 and haven't touched it since the first commit: https://github.com/StevenClontz/tbil-la/commits/master/exercises/mastr/M1.sage

I just never added ABC labels. So I'll fix that down the road.

[2020-04-21 02:06] StevenClontz commented on #123
Here is a quick run-down of how we might rewrite each prompt to get the level of rigor we're looking for. I'm also throwing in other tweaks we've discussed that don't quite fit this issue. Note a lot of parts (a) and (b); I think that will help alleviate the "but I got the right answer"s.

- E1: Given the following [linear system|Euclidean vector equation|augmented matrix], write equivalent [other

[2020-04-22 15:38] siwelwerd commented on #123
I am probably not going to think really hard about these until August, so feel free to leave your fresh thoughts on the rest here. V8 and V9 are my least favorite of your list at the moment.

I thought for E2, we discussed also providing them a matrix not in RREF and explaining why it wasn't in RREF.

[2020-04-24 20:46] StevenClontz commented on #92
Actually I'm a liar and I will reopen this.

Right now I'm getting annoyed at the fact that I have students who seem to get everything about G1 except the order of the matrices (i.e. part c). Since that's a toss-up I cannot let them revise, even though they may have computed the determinant correctly by using det(PQA)=det(P)det(Q)det(A). So perhaps we keep the row operation discussion in M, but th

[2020-04-24 20:53] siwelwerd commented on #92
So you are advocating for an additional M standard? Or for removing part (d) from existing G1 and moving it to M?

I haven't graded any G1 yet (It's on their quiz they are taking today), but having finished our discussion of determinants again today, I like how the class activities have gone through this part. So let's tweak the assessment maybe.

[2020-04-24 20:57] siwelwerd commented on #123
I think for V9, I would rather do something like

V09: The set of  [polynomials/matrices] [set] is linearly independent.
(a) Rewrite this statement using a [polynomial/matrix] equation.
(a2) Rewrite this statement using a system of equations
(b) Explain why your statement is true or false.

[2020-04-24 21:01] StevenClontz commented on #92
Yeah, basically parts (a-c) as M4, and the new G1 asks for the determinant of PA and QA separately.

[2020-04-24 21:03] siwelwerd opened #124 "Module G Tweaks"
- Should we use 4x4 matrices when doing row operations and determinants? I observed students using magic diagonals to compute determinants of these simple 3x3 matrices instead of reasoning.
- The RAT should probably cover the row operations as matrix multiplication.
- Activity G34: We spent more like 20 minutes on this than the labeled 10.
- As a result, we skipped activity G37, which I don't real

[2020-04-24 21:10] siwelwerd commented on #92
Agreed on new M4. Not sure exactly what you mean on G1; what about

(a) Suppose A is a 3 x 3 matrix with determinant 2. What is the determinant of the matrix
obtained by applying R1 + 4R2 -> R1   to A .
(b) Suppose B is a 3 x 3 matrix with determinant 5. What is the determinant of the matrix
obtained by applying  R1 <--> R2 to B. ?
(c) Suppose C is a 3 x 3 matrix with determinant 7. What is the de

[2020-04-24 21:24] StevenClontz commented on #92
I like asking for all 3 types. I don't see a reason to differentiate A/B/C, and the students need better prompts to appeal to matrix multiplication. How about (incorporating your 4x4 note from another thread):

Let A be a 4x4 matrix with determinant [random].
(a) Use matrix multiplication to describe the matrix B obtained by applying [row operation] to A. Then find det(B).
(b-c) [same, but other 2

[2020-04-24 22:11] StevenClontz commented on #124
Yes!! to 4x4 matrices.

[2020-04-24 22:19] StevenClontz commented on #123
I like your V09 revision. Although it probably fits better after V05 in the order since it doesn't rely on a notion of basis anymore.

I'm not sure if I want to randomly pick spanning instead of independence.

[2020-04-24 22:31] siwelwerd commented on #123
Right, didn't we used to ask all sorts of things about polynomials? Do you remember why we changed it to only about bases?

I have also mused about an option for spanning P^n or M_n as well. On the one hand, that's a bit of extraneous cognitive demand, but on the other, don't we want them to kind of synthesize everything in this kind of question?

I am still thinking about V8; what do you think ab

[2020-04-24 22:35] StevenClontz commented on #123
There was too much variance in the "old" V09 - to make all questions relatively the same difficulty we switched everything to basis. But I think independence/spanning is comparable.

I like merging the questions about the basis of a subspace and dimension.

[2020-04-24 22:35] StevenClontz commented on #123
Also if we merge V07/V08 and add an M4, we keep the same total # of standards, whatever that's worth.

[2020-04-28 15:44] StevenClontz commented on #115
I know that V10 at least has a generated exercise with a zero-column. We need to reroll any generated matrices with a zero-column. (This is probably more a Mastr feature request: we really need a global helper function that rolls "nice" matrices for use in exercises.)

[2020-05-01 16:08] StevenClontz commented on #115
Wait no. When finding eigenspaces we need to compute kernels with zero columns. So when we tweak E3&V10 to possibly use Euclidean vector equations instead of linear systems, we should do a check for zero columns, and if so, force using a Euclidean vector equation so it's not ambiguous.

[2020-05-02 18:53] siwelwerd commented on #124
Some of the G1 problems provide commuting P and Q (for example, on the test P was a diagonal matrix affecting row 1, while Q was a permutation matrix of the second and third rows). For part (c), I think producing the matrix PQ is a valid solution, but if they don't label it now I can't tell if they did PQ or QP.

[2020-05-02 18:58] StevenClontz commented on #124
I'm not following. I believe parts (a) and (b) specify what P and Q are, so I'm not sure how they'd reasonably respond except with PQA or QPA.

[2020-05-02 19:04] siwelwerd commented on #124
They computed PQ (or QP), and wrote that multiplied by A for part (c). Basically, they wrote
(a) P=[[5,0,0],[0,1,0],[0,0,1]]
(b) Q=[[1,0,0],[0,0,1],[0,1,0]]
(c) [[5,0,0],[0,0,1],[0,1,0]]A

[2020-05-02 19:07] StevenClontz commented on #124
Oh I see. So we should make sure P and Q don't commute.

[2020-05-02 19:13] siwelwerd commented on #124
Right.

[2020-05-03 17:07] siwelwerd commented on #121
We really don't explicitly hit the rank nullity theorem in module A (we could probably add a single activity to do so -- the proof is dim(Im T)= # pivot columns , dim(ker T) = # non pivot columns, dim(domain)=# of columns). I am wondering if we should add such an activity, and add a part (c) to A3, that asks them to verify that the rank-nullity theorem holds for that particular map.

[2020-05-03 17:16] StevenClontz commented on #121
I think this is worthwhile.

[2020-07-01 17:40] siwelwerd commented on #123
I started with the sample exercises so I can get @StevenClontz 's feedback before propagating the changes throughout.  The following standards changed: E1,E2,V2,V3,V5,V6,V7,V8,V9,A2,A3,M4(new),G1.

https://github.com/StevenClontz/tbil-la/blob/master/pdf/sample-exercises.pdf

E3 did not change in the sample, but the exercises will need to change to add in the vector equation option.

[2020-07-01 20:59] StevenClontz commented on #123
In A3 you reference the "rank-nullity theorem". Last semester we didn't use the words "rank" or "null space". Perhaps "image-kernel dimension theorem" is more meaningful? Or should we be using the words "rank" and "null" in class?

[2020-07-01 21:06] StevenClontz commented on #123
In G1, instead of "What is det(B)?", do we want "Use matrix multiplication to explain how to compute det(B)."? That way the student needs to say something like. "Let R=[stuff]. Then det(B)=det(RA)=det(R)det(A)=[answer]"'.

[2020-07-01 21:09] siwelwerd commented on #123
For A3, it was based on this: https://github.com/StevenClontz/tbil-la/issues/121#issuecomment-623145303 . I have never seen that theorem referred to as anything other than "Rank-Nullity Theorem". Definitely need to add activities to go along with it.

[2020-07-01 21:11] siwelwerd commented on #123
In G1, I am okay if they don't use matrix multiplication -- that aspect was shifted into M4.

[2020-07-01 21:24] siwelwerd commented on #121
A3 (c): "Explain how to find the rank and nullity of T, and why the rank-nullity theorem holds for T".

[2020-07-02 17:34] siwelwerd opened #125 "Update code style"
Code should be updated to conform to the coding style listed in the Readme. In particular, $ delimiters should be removed. This is probably going to help with #97 when we finally take the plunge and do that.

[2020-07-02 17:45] siwelwerd opened #126 "Update exercises"
The exercises need to be updated to reflect changes discussed in #123 . These will be developed through MasterIt CoCalc, then copied in here when ready.

[2020-07-02 17:46] #123 closed

[2020-07-03 16:00] siwelwerd commented on #117
@StevenClontz , please look at https://github.com/StevenClontz/tbil-la/blob/master/pdf/standards.pdf and verify you are happy with the revised standards; if so, you can close this.

[2020-07-03 16:24] #117 closed

[2020-07-20 18:20] #112 closed

[2020-07-20 18:22] siwelwerd opened #127 "Ensure activities align with standards"
Several standards were changed in #123. We need to ensure that activities align correctly with the modified standards.

[2020-07-20 19:11] siwelwerd commented on #125
I believe in fdf9ea69.. I excised the $ signs from the activities.tex files, which are likely the main culprits. For future reference: first, I searched for any $$...$$ expressions. Once those are eradicated, a "simple" vi regex (namely, :%s/\$\(.\{-}\)\$/\\(\1\\)/g ) does the trick, though it will likely break if there are any escaped dollar signs.

[2020-07-21 21:33] #115 closed

[2020-07-21 22:15] #121 closed

[2020-07-21 23:10] #122 closed

[2020-07-22 00:34] siwelwerd commented on #92
Standards have been changed, aligning the activities is part of #127, so I am closing this one.

[2020-07-22 00:34] #92 closed

[2020-07-22 00:52] #124 closed

[2020-07-22 01:38] #127 closed

[2020-07-22 01:44] siwelwerd commented on #126
Templates and code for all exercises have been written. They may not match the upstream MasterIt code yet; once they do, then we can pull them over here.

[2020-08-20 16:45] siwelwerd commented on #126
@StevenClontz Is this moot now? Should we delete exercises from this repository?

[2020-08-20 19:53] StevenClontz commented on #126
Yeah I'd move this discussion of exercises to https://github.com/TeamBasedInquiryLearning/checkit-tbil-la

Are there build scripts in this repo that need generated exercises? I *think* we're good with just a sample-exercises doc for now. (Although eventually checkit should support generating full `<solution>`s and could build that kind of file as well.)

[2020-08-21 01:31] siwelwerd commented on #126
I think the exercises just generate the exercise library. The exercises here haven't been updated though, so they are behind what is in checkit-tbil-la, which is why I am thinking to just delete them.

[2020-08-28 17:51] StevenClontz opened #129 "P^n or P_n for polynomial space"
We use P^n at least once for the polynomial vector space of degree n. Since this is (n+1)-dimensional and X^n often denotes a product of spaces X, maybe P_n is more appropriate. (I don't have an LA text handy at the moment, but Wikipedia at least uses P_n.)

[2020-08-29 21:50] siwelwerd commented on #129
Hopefully we use it every time 🙃. The choice was intentional at some point long ago (perhaps to match a certain textbook), but may no longer be relevant -- I honestly can't remember.

[2020-08-29 21:53] siwelwerd commented on #80
Not sure how much this will impact our thinking on this issue, but I've noticed that while I love multipart activities with pauses in between the parts in face-to-face classes, these aren't really helpful in synchronous online classes (it takes too long to get into and out of breakout rooms to not just say "do all the parts now").

[2020-08-30 15:43] StevenClontz opened #130 "Consider combining M3/M4"
We currently have separate objectives for "M3 Finding matrix inverse" and "M4 Determine if matrix is invertible". I'm organizing activities by outcome for the PreTeXt conversion and it's hard to sever these.

These could be combined, with assessment exercises such as:

[2020-08-30 19:27] StevenClontz commented on #129
I don't recall the logic either, but searching the net reveals a lot of \(P_n\)s and not a lot (or any) of \(P^n\)s, so while I'm porting things I'll update this, if that's okay with you.

[2020-08-30 22:17] StevenClontz commented on #80
With the change to PreTeXt, the TBIL-LA project will ideally be able to shift to focus on authoring PreTeXt content, not its presentation.*

So this is now a consideration for me wearing a PreTeXt hat: when building slides, how should an <activity> with many <parts> be displayed? This should be reasonable regardless of how the activity was authored. Likely it should be configurable by the "publish

[2020-08-31 01:35] #97 closed

[2020-08-31 01:36] #77 closed

[2020-08-31 01:41] StevenClontz commented on #79
See https://pretextbook.org/doc/guide/html/basics-ch-project.html -- what's the right way to express this in PreTeXt?

Maybe `<discussion/>` (which I think doesn't exist yet, but maybe I can get it added), `<exploration/>`, and `<exercise/>`.

[2020-08-31 01:52] StevenClontz commented on #125
Closing this - my XML styling isn't super-great in the first pass, but long-term I plan to have PreTeXt-CLI automatically format the XML nicely anyway.

[2020-08-31 01:52] #125 closed

[2020-08-31 01:53] #98 closed

[2020-08-31 01:54] StevenClontz commented on #87
Ugh now I'm getting tempted to add multiple-choice and IF-AT support to https://github.com/StevenClontz/checkit noo

[2020-08-31 02:08] StevenClontz opened #132 "PTX: replace chapter numbers with module letters"

[2020-08-31 02:08] StevenClontz opened #133 "PTX: Build Tikz diagrams"

[2020-08-31 02:11] StevenClontz opened #134 "PTX: Port application-focused projects"

[2020-08-31 02:45] StevenClontz opened #135 "PTX: Number activities the same way as others (e.g. theorems)"
Blocked by https://github.com/rbeezer/mathbook/issues/1361

[2020-08-31 02:47] StevenClontz opened #136 "Rename repo to linear-algebra?"
Since we're now organized in the TeamBasedInquiryLearning organization, renaming the repo to `linear-algebra` would host our site at https://teambasedinquirylearning.github.io/linear-algebra/ and be a bit more recognizable at a glance.

[2020-08-31 02:49] StevenClontz opened #137 "PTX: Port facilitator notes"

[2020-08-31 02:51] StevenClontz opened #138 "PTX: Port sample exercises"
Or consider generating full solutions in checkit-tbil-la. For pedagogical purposes, I'd only want full solutions generated if they supported some randomness, e.g. the solution sometime says "the span of the vectors u,v,w" and sometime it says "all linear combinations of the vectors".

[2020-08-31 02:58] StevenClontz opened #139 "PTX: Port learning outcomes"
Right now we have outcomes already sort of - I've organized activities into sections based on outcomes. But I haven't fully captured the info at https://github.com/TeamBasedInquiryLearning/tbil-la/blob/main/tex/standards.tex, and there should be a listing in the frontmatter somewhere.

[2020-08-31 03:20] StevenClontz opened #140 "PTX: Port readiness assurance process"

[2020-08-31 03:21] StevenClontz opened #141 "PTX: Port Introduction"

[2020-08-31 03:40] StevenClontz commented on #79
Per that discussion on `<discussion/>`, what we need to do is decide on another project-like element to rename (e.g. configure <investigation/> to display as Discussion 1.1).

Or if we think TBIL materials cannot be supported by vanilla PreTeXt anyway, then we can add in whatever elements we want. But I want to hold back on that particular plunge for a while.

[2020-08-31 16:44] siwelwerd commented on #130
This may be more of an indication that organization of the materials into discrete learning outcomes is not ideal.

[2020-08-31 16:48] StevenClontz commented on #130
Hard disagree. As the project expands over the next three years, we need to provide instructors an elegant mechanism to pick and choose which outcomes satisfy their institution's requirements for their course. Having a bijection between sections and outcomes is the most elegant solution I can think of.

[2020-08-31 17:18] siwelwerd commented on #130
Maybe we need to think harder then 🙃. It's well established that interleaving improves student learning. And outside of this particular context, sometimes there are motivating activities that are not done in order. Since I've been doing it last week, off the top of my head Module E starts with some motivating activities about E3, then does some E1 and E2, then back to E3.

Logically, I am wonderin

[2020-08-31 17:45] StevenClontz commented on #130
Having one section per outcome isn't mutually exclusive with interleaving. Let's say an instructor only wants E1&E3. Then their materials could omit section E2, as well as any activities in other sections that are only tagged with E2. I like having a notion of core outcomes for each module, with non-core outcomes explicitly defining their dependencies. Modules can also have dependencies on (core o

[2020-08-31 18:48] siwelwerd commented on #130
My point was that E1 and E3 are pretty inseparable, and there is E3 stuff mixed into E1. So if an instructor wants E1 but not E3, the activities as is don't make a lot of sense; but why would anyone want that? I guess I am thinking of a dependency graph that is not a tree.

As to the original narrow question, at some point a choice has to be made, and that's the one that was made. Then, following

[2020-08-31 18:54] siwelwerd commented on #87
I am using Intedashboard this semester (because the ILC paid for it), and it would be reasonably simple to automate the production of RATs through that platform. But in general, it costs students $$$.  Also, their LaTeX support sucks (they claim it works, but it breaks when I try to use anything multiline or a matrix)--thankfully your CodeCogs trick for checkit question banks works.

[2020-08-31 18:57] siwelwerd commented on #136
Concur

[2020-08-31 18:59] StevenClontz commented on #136
Done. The old website URL will break but it's only really been shared in one twitter post which I'll reply to now.

[2020-08-31 18:59] #136 closed

[2020-08-31 18:59] StevenClontz commented on #136
Git refs should be updated but it's non-essential as GitHub redirects well in general.

[2020-08-31 19:00] siwelwerd commented on #136
Good thing I learned how to do that last week. Too bad I already forgot 🙃

[2020-09-01 03:25] StevenClontz commented on #87
Unless Intedashboard has improved greatly in the past couple years (not impossible) I'd hesitate to invest a lot of effort into it, regardless of its funding model. (The sticky LaTeX support doesn't give me much confidence.)

I think I'll convert the RATs into a PreTeXt-ish XML. It'll be easier to transform them into whatever format (based on whatever IF-AT) once they're there anyway.

[2020-10-09 13:37] siwelwerd opened #142 "Definition of "binary operation" in V1"
So @crgibbons pointed out that we are implicitly using a definition of "binary operation" as a map VxV \rightarrow V, and that this may not be standard. This gets a little confusing when we define subspaces as "Smaller vector spaces within bigger vector spaces" -- if the image of the binary operation is not required to be the vector space, you don't necessarily get closure.

As we convert to PreTe

[2020-10-09 13:44] siwelwerd commented on #142
Another good aside comment would be how in our definition of subspace, the operations must be the same as those of the larger vector space.  Does pretext have a <subtle-but-important-technical-note> tag?

[2020-10-09 14:26] StevenClontz commented on #142
<aside/> is the appropriate element for this, I believe.

Steven Clontz
https://clontz.org - steven.clontz@gmail.com

On Fri, Oct 9, 2020 at 8:45 AM Drew Lewis <notifications@github.com> wrote:

[2020-10-09 15:00] siwelwerd commented on #142
That will make it easy. Does the PreTeXt slide generation allow you to decide which tags turn into slides? So that we could just omit all <aside>?

[2020-10-09 15:27] StevenClontz commented on #142
More or less. There's code (that I need to refactor for the IUSE project) that takes a PreTeXt book, extracts the desired elements, and spits out PreTeXt slideshow source code, which then can be built into Reveal.JS slides (and some limited Beamer support, but Reveal.JS is much nicer).

[2020-11-12 15:33] siwelwerd opened #143 "PTX: Videos"
Because of the pandemic, I have created videos aligned with each standard. These could be included into the PreTeXt version. The videos are currently in Panopto, so either they will have to be transferred to YouTube, or PreTeXt will need to offer support for Panopto.

(See discussion here https://twitter.com/siwelwerd/status/1326694815808057345 )

[2020-11-12 15:40] siwelwerd commented on #130
Having done this again more recently, I am more inclined to keep them separate so that students have a couple easier standards later in the semester.

[2020-11-12 16:20] StevenClontz commented on #130
I do like that game design effect. I'm closing this. I think at this point questions like "should M3/M4 be separate PreTeXt `<section>`s?" should be deferred to discussions with the community that our IUSE grant will support around these materials, since they will have their own perspectives on how they can best use these materials.

[2020-11-12 16:20] #130 closed

[2020-11-12 16:25] StevenClontz opened #144 "Submit to JIBLM or AIM Open Textbook Initiative?"
For advertising our work, as well as our own P&T considerations, it may be worth our time to package things up to be considered for inclusion on http://jiblm.org/guides/index.php?category=jiblmjournal and/or https://aimath.org/textbooks/.

[2020-11-12 20:09] siwelwerd commented on #144
I don't like that JIBLM only hosts static PDFs, but I guess we can always put a URL to the PreTeXt version in the front matter. I think the question is not "Is it worth our time", but rather do we do it now, or after our IUSE group improves things more.

[2020-11-12 20:47] StevenClontz commented on #144
AIM Open Textbook assumes that the text is being actively improved for what it's worth. But I had the same idea for JIBLM: submit a PDF, with the note that we'll continue to develop the text.

It's probably worth considering what "authorship" means for this text once our collaborators pitch in. I guess at that stage, we move from being authors to being editors. 🤷

But I suppose that since the poin

[2020-11-18 14:01] siwelwerd commented on #143
The following code should do the trick. Panopto will give you a link to a podcast, and you can download captions separately.

`<figure>
	<video xml:id="video-E1" source="https://southalabama.hosted.panopto.com/Panopto/Podcast/StreamInBrowser/b9e50548-7fcd-42a9-a91e-ac190138c4b7.mp4?mediaTargetType=videoPodcast">
		<track kind="subtitles" label="US English" xml:lang="en" source="videos/E1-captions.

[2020-11-18 14:20] siwelwerd commented on #144
Sounds like we are pretty much in agreement then. I want to have a stable version ready for mid-January so I can share the PreTeXt version with my students, why don't we snapshot then and send that to JIBLM. JIBLM says this about future updates:

[code]

So we can send them a future updated version as well.

For AIM, it might be worth sending them a query just saying "Here's where we are, here's w

[2020-11-18 15:29] StevenClontz commented on #143
Putting large video files in a Git repo is a bad idea (I'm not even sure GitHub would accept them). For now let's do less work and use Panopto hosting, but we'll probably want a TBIL video channel on YouTube if our cohorts develop video materials as well.

[2020-11-18 15:33] StevenClontz commented on #144
I'd wait until later for AIM, but I think we can submit for JIBLM in December.

[2020-11-19 17:01] siwelwerd commented on #143
They are not super large because I have kept them short (the one in the example above is 25MB). But yes, I envision our TBIL fellows re-recording and improving some (or all) of them, so I am happy to leave them in Panopto for now.

[2021-01-05 20:50] siwelwerd commented on #133
Started working on this in https://github.com/TeamBasedInquiryLearning/linear-algebra/tree/tikz .  See https://github.com/TeamBasedInquiryLearning/linear-algebra/blob/5ef44ab50a32f85f1df457d07ab960393b60bfe3/ptx/source/02-V/03.ptx#L11 for an example of how to do this.

At the moment, there is an issue caused by using the enclose package (which we we use in the \circledNumber macro to circle pivots

[2021-01-12 17:58] siwelwerd opened #145 "Update readme & deprecate LaTeX"
The readme needs to be updated to reflect our use of PreTeXt. Perhaps in conjunction with completing milestone:2021-spring , we should also deprecate the LaTeX version.

[2021-01-12 18:43] StevenClontz commented on #133
pretext-support discussion at https://groups.google.com/g/pretext-support/c/ZfwJtpferUw/m/AJzkCBPXAgAJ

[2021-01-12 19:02] StevenClontz opened #146 "PTX: Get LaTeX/PDF build working"

[2021-01-12 19:05] StevenClontz opened #147 "Replace \circledText with semantic \pivot"
Right now, \circledText appears as a box in LaTeX builds, because reasons #133

So we should make the command `\pivot` that doesn't care about its presentation in various contexts.

[2021-01-12 19:46] StevenClontz opened #148 "PTX: Slides"

[2021-01-12 19:50] StevenClontz opened #149 "PTX: Displaying Systems of Equations"

[2021-01-12 20:06] StevenClontz commented on #149
In some cases e.g. https://teambasedinquirylearning.github.io/linear-algebra/E2.html we are missing ` alignment="alignat"` to make the systems of equations display correctly.

[2021-01-12 20:10] StevenClontz opened #150 "PTX Just link out to CheckIt rather than importing exercise PreTeXt into the book"

[2021-01-12 20:12] StevenClontz commented on #133
@siwelwerd To avoid merge conflicts I'm assigning you to audit the content between E1 and G4 to address

- #129
- #133 (this)
- #143
- #149
- #150

Right now, I believe E1 and V3 are set up correctly. Note that I'm sorting each section into two subsections, `Activities` and `Videos`, followed by `Exercises`.

Meanwhile I'll work on adding new sections for e.g. Sample Exercises.

[2021-01-12 20:14] StevenClontz commented on #133
(You can continue working on the `tikz` branch updated to a8f8aed1 )

[2021-01-12 20:38] StevenClontz commented on #133
Oh, note also the addition of `<caption/>`s -- we didn't have those in LaTeX, but for accessibility (and to look "right") we need to add them now.

[2021-01-12 20:56] siwelwerd commented on #133
Could you clarify what you mean by "audit the content"?

[2021-01-12 21:00] StevenClontz commented on #133
Read through it and make sure we've addressed the issues I mention above (e.g. images have captions, your videos have been added, etc.).

[2021-01-12 22:30] StevenClontz commented on #139
Closed in 56639022

[2021-01-13 19:30] StevenClontz commented on #138
Closed by e1307b4

[2021-01-13 19:33] #138 closed

[2021-01-13 19:33] #139 closed

[2021-01-13 20:34] StevenClontz commented on #145
Part of this work should include moving the `ptx` source into the base of the repo, and all deprecated materials like `tex`/`pdf` into a `deprecated` directory temporarily, until they are fully represented in maintained sections of the source (at which point they can be deleted).

[2021-01-13 21:04] siwelwerd commented on #133
This is almost done, the image in Figure 4.1.1 is apparently a commutative diagram. The PreTeXt way of creating commutative diagrams does not seem to allow for curved arrows though, need to find a workaround.

[2021-01-13 22:38] StevenClontz commented on #148
This is 90% implemented in e2c4ac5 using the `xsltproc` command-line since neither the book-to-slideshow nor slides-to-html conversions= is supported by PreTeXt-CLI yet. Once all the tikz/etc updates are merged into main, I'll update the build documentation to also build slides, and get this merged into main as well.

A handful of items will need to be redesigned to fit well in a slide. But as a s

[2021-01-14 15:16] siwelwerd commented on #146
I managed to fix the commutative diagram issue (in the HTML version at least), but I am not 100% sure it won't cause issues in the LaTeX/PDF generation. So let's be sure to double check Figure 4.1.2 when implementing this.

https://github.com/TeamBasedInquiryLearning/linear-algebra/issues/133#issuecomment-759738664

[2021-01-14 15:37] siwelwerd opened #151 "PTX Implement sage cells"
I think it would be handy to have small sage cells after many of the activities to make it easy for students to find the RREF (or any other computation they need), without the congitive load of shifting focus elsewhere.

[2021-01-14 15:51] #133 closed

[2021-01-14 16:10] #129 closed

[2021-01-14 16:11] StevenClontz commented on #151
I was also thinking this. Are we imagining a workflow where students have the textbook pulled up, and instructors have slides?

It's worth noting that I have code in https://github.com/StevenClontz/mathematics-of-data to build CoCalc-compatible Jupyter notebooks on PreTeXt documents organized in a certain way (which includes this one). Essentially that's redundant with Sage cells, except it costs

[2021-01-14 16:12] StevenClontz commented on #151
I think https://twitter.com/SeanFitzMath did some work implementing Sage cells in slideshows, but that strikes me as a bit finnicky (without putting too much thought into the idea).

[2021-01-14 16:23] siwelwerd commented on #151
Yeah, the book is more compact, so I can see students pulling that up on their own devices in class (definitely they will in a synchronous online class). But this would also better support someone who wanted to do asynchronous online, which Tien is doing this semester, as well as other individual uses (such as reviewing before an assessment). I don't see the cells in the slideshows themselves as a

[2021-01-14 16:57] siwelwerd commented on #143
Extra wrinkle: the link from Panopto no longer works if you are not logged in. However, if you change "StreamInBrowser" folder to "Social", it seems to work.

However, this suggests Panopto may be more fragile than I originally thought. I think we should roll with it for the moment, but think hard about shifting elsewhere in the future. Maybe a TBIL Youtube channel should be part of the grant work

[2021-01-14 19:37] StevenClontz commented on #143
Wow that's real amateur hour stuff from Panopto.

While there are many things wrong with YouTube platform, there's a reason it's the go-to. Vimeo would be the next-best option, but either we need money to use it, or we need to stay within the constraints of their "Vimeo Basic" free tier (which I don't know if we would).

I agree that Panopto is the choice for this spring however.

[2021-01-14 19:47] StevenClontz commented on #151
https://github.com/StevenClontz/checkit/issues/21

[2021-01-14 20:11] #143 closed

[2021-01-15 17:01] #149 closed

[2021-01-15 17:02] #151 closed

[2021-01-15 17:08] siwelwerd commented on #148
All the blocking issues are now closed. We can publish the HTML to docs now, and you can produce the slides. If you leave some more detailed instructions on generating them here, I can proofread and try to fix any issues with the slides next week.

[2021-01-19 16:12] StevenClontz commented on #145
Closed by a88169086167b07c4a43da0b2f02b7daa5f45684

[2021-01-19 16:12] #145 closed

[2021-01-19 16:16] StevenClontz opened #157 "Link back from slides to text"

[2021-01-19 17:10] StevenClontz opened #158 "Consider using non-default stylings for PreTeXt book and slideshow"

[2021-01-19 17:23] StevenClontz commented on #148
I've got this merged into `main`, and I went ahead and edited Chapter 1/E to be (what I think is) well-presented in both the book and slideshow formats. Info for building slides is now in the README; access to `xsltproc` on the command-line is assumed (I can make a Python version if this is a problem).

Leaving this open until @siwelwerd reviews the rest of the slides.

[2021-01-19 17:31] StevenClontz opened #159 "Expand example knowls to display by default (like most other elements)"

[2021-01-19 17:42] siwelwerd commented on #148
Is there a way to get a table of contents into the slideshow?  Looks like right now, if I am doing module G I have to open the slide show, and then arrow over 20 or 30 times to get to the section I need.

[2021-01-19 17:52] StevenClontz opened #160 "Table of Contents slide"
Investigate adding quick links below the initial slide to access certain chapters/sections without scrolling through.

[2021-01-19 17:55] StevenClontz commented on #148
It's non-trivial (unless there's a slick Reveal.js feature I can take advantage of maybe) but technically possible. I've opened #160, but for the immediate future you'll need to arrow over. (Something to do while MathJax crunches through all the typesetting it has to do...)

[2021-01-19 18:00] siwelwerd commented on #148
The good news is it's not as big a deal at the beginning :)

[2021-01-19 18:14] siwelwerd commented on #160
Possible workaround: A slideshow of just one module/chapter, rather than the whole course.  Would `xsltproc --xinclude -o slides/slidesE.ptx slides/extract-slides.xsl source/01-E/main.ptx` do what I think it will?

[2021-01-19 19:05] StevenClontz commented on #148
This is also kind of the reverse of #157 - the *best* (and potentially easiest) solution would be to somehow support slideshow URLs like https://teambasedinquirylearning.github.io/linear-algebra/slides.html#/E1 for https://teambasedinquirylearning.github.io/linear-algebra/E1.html but that relies on features of Reveal.js that may or may not exist.

[2021-01-19 19:06] StevenClontz commented on #160
It won't, but something similar could be rigged.

[2021-01-27 14:45] siwelwerd commented on #147
Also, it does not appear to provide any decoration in the slides.

[2021-01-27 15:30] StevenClontz commented on #147
Yikes that's a bigger issue. I'll look into it

[2021-01-27 15:46] siwelwerd commented on #147
I saw some other weird things going on in the slides, and then I hit refresh and fixed them, as well as the pivot in the slides. So maybe this was just some weird caching thing going on on my end.

[2021-01-27 20:51] siwelwerd commented on #148
I think the `<sidebyside>` tag is not being handled well, and am not sure where to fix it.  See here for example:
<img width="941" alt="Screenshot 2021-01-27 144744" src="https://user-images.githubusercontent.com/30658947/106052330-0edf7180-60af-11eb-828a-30edc301f652.png">

[2021-01-27 20:55] StevenClontz commented on #148
Yeah. It's not pretty but it's functional at the moment. I'll need to research if the fix is our book-to-slideshow export, or the upstream slideshow-to-revealjs implementation.

[2021-01-27 22:32] siwelwerd commented on #148
I believe it is the latter, because the '<sidebyside>' tag does get copied over into the slides/slides.ptx file, so the slides/extract-slides.xsl appears to be handling it correctly.

[2021-01-28 19:53] TienChih opened #161 "Tikz"
Hi Friends,

I could be wrong, but I do believe there's supposed to be tikz pictures on some of these pages like this one: https://teambasedinquirylearning.github.io/linear-algebra/V3.html

Thanks!

Tien

[2021-01-28 20:21] StevenClontz commented on #161
I rebuilt the HTML with diagrams. There's some weird caching on that link but it should work in the near future (I see the file here https://github.com/TeamBasedInquiryLearning/linear-algebra/blob/main/docs/images/image-1.svg ).

@siwelwerd I updated our README to include a one-liner that also rebuilds diagrams for when that's necessary.

[2021-01-28 20:23] StevenClontz commented on #161
Ah... https://webmasters.stackexchange.com/a/118928

So check in 10 min?

[2021-01-28 21:16] StevenClontz commented on #161
Still broken. Definitely a caching issue as https://teambasedinquirylearning.github.io/linear-algebra/images/image-1.svg?foo works while https://teambasedinquirylearning.github.io/linear-algebra/images/image-1.svg doesn't. So I may need to rebuild/redeploy to ping gh-pages to uncache the 404d image. I'll do that tomorrow if it doesn't fix itself.

[2021-01-28 21:21] siwelwerd commented on #161
Appears to be working to me?

[2021-01-28 21:22] StevenClontz commented on #161
Then it's specific to my IP or something. I"ll close this.

[2021-01-28 21:22] #161 closed

[2021-02-03 02:35] TienChih opened #162 "Activity 2.2.4 Vector EQN"
Hi All, Activity 2.2.4 is missing a vector equation.

[2021-02-03 21:11] StevenClontz commented on #148
Let me know if this need to be addressed sooner, but right now this is looking like a summer project for me.

[2021-02-03 21:20] #162 closed

[2021-02-03 21:25] siwelwerd commented on #148
Looks like `<sidebyside>` is only used in module E, so this is definitely low on the priority list.

`drew@LAPTOP-AU26PJ5K:~/tbil-la$ grep sidebyside source/*/*ptx
source/01-E/01.ptx:    <sidebyside widths="33% 33% 33%" margins="auto" valign="middle">
source/01-E/01.ptx:    </sidebyside>
source/01-E/01.ptx:        <sidebyside widths="33% 33% 33%" margins="auto" valign="middle">
source/01-E/01.ptx:

[2021-02-08 17:07] siwelwerd opened #163 "PTX: Definitions"
I had a LaTeX PDF containing only the definitions, I think it would be helpful to have this in the PTX version somehow

https://github.com/TeamBasedInquiryLearning/linear-algebra/blob/main/deprecated/pdf/definitions.pdf

[2021-02-08 17:25] StevenClontz commented on #163
To keep things DRY we should implement this using PreTeXt features if possible.

Conversation: https://groups.google.com/g/pretext-support/c/HgvQM_k6SPg/m/tNqMrBsTBAAJ

[2021-02-09 18:58] sharonakrinsky opened #164 "Missing time estimates on student activities"
It would be great to get back the time estimates (I'm picking them up from the previous facilitator notes right now).

[2021-02-09 19:56] siwelwerd commented on #164
The estimates are within the PreTeXt source, but are currently not used in the output (HTML or slides)

[2021-02-09 20:03] StevenClontz commented on #164
I'm asking here https://groups.google.com/g/pretext-support/c/oXYF1YDIiEY if there's a good way to express this information in PreTeXt before I go about writing a custom solution.

[2021-02-10 20:41] siwelwerd opened #165 "Interactive geometry elements"
Some activities like 2.2.1-2.2.3 would benefit from interactive geometric elements--I threw some things into Desmos on the spur of the moment in class today, and it was effective, but would be more effective if they were playing with them instead of me. Desmos is just an example, I am not sure at the moment what other options would be a) easier to implement, or b) possibly more effective.

[2021-02-11 16:45] StevenClontz commented on #165
I'm somewhat inclined to implement Octave visualizations over Desmos. Desmos is much easier to play with certainly, but it's not FOSS, and fostering comfort with Octave/Matlab is of more value long-term.

Here's an animation I use in Diff EQ with SageMath: https://sagecell.sagemath.org/?z=eJyNjkEKgzAQRfeeYsgqqWOrgtCNJymthBpLMCYh2jK5fdWiFLrpXz0-nzdDGOuXDJwRRCYSafUgJ8XhAt64qRmN86rptDItLw_xRAicMCtyLH

[2021-02-12 14:44] siwelwerd opened #166 "Typographical: e.g. \vec{v_n} instead of \vec{v}_n"
Quick guess -- \vec{v_n} instead of \vec{v}_n? Noting here to fix later.

<img width="931" alt="Screenshot 2021-02-12 084337" src="https://user-images.githubusercontent.com/30658947/107782312-8566ab00-6d0e-11eb-82e3-b9369eeada39.png">

[2021-02-12 14:48] siwelwerd commented on #165
Yeah, what I like about Desmos is that the interface makes interactivity super easy (add some sliders and you're off). I'll have to look in to how to use Octave to make interactive things.

[2021-02-12 15:00] siwelwerd commented on #164
Might be worth thinking about #80 at the same time?

https://github.com/TeamBasedInquiryLearning/linear-algebra/issues/80#issuecomment-367384362

[2021-02-12 15:02] StevenClontz commented on #166
Agree on guess

[2021-02-12 15:05] StevenClontz commented on #164
Based on discussion it seems adding an @estimated-time attribute to PreTeXt has support.  Showing the # of tasks on slides when estimated time is configured to be shown seems reasonable.

[2021-02-17 18:52] siwelwerd commented on #163
Digging into the sample article code from that email thread, I think this will work (have to run teach, will try it later)
[code]

[2021-02-17 19:21] StevenClontz commented on #163
Implemented in eae09f5a08f26e653bdb38ae68084fc29a7d20b2 and now available: https://teambasedinquirylearning.github.io/linear-algebra/list-of-definitions.html

Should be easy to add additional appendices for e.g. a list of activities, if there's a use-case.

[2021-02-17 20:02] #163 closed

[2021-02-23 15:39] siwelwerd opened #167 "Preserving presentation from book to slides"
See https://teambasedinquirylearning.github.io/linear-algebra/slides.html#/10/2 , among others, for example.

I tried rebuilding the slides with the instructions in the Readme, but this did not fix the issue.

[2021-02-23 22:11] StevenClontz commented on #167
The `image@src` attribute is empty in the built slides:

https://github.com/TeamBasedInquiryLearning/linear-algebra/blob/main/docs/slides.html#L965

It seems my book-to-slides conversion produces `latex-image` elements, but what I really want is for it to analyze the book and determine the filename of the diagram the book produces when it's built so I can point to that.

Discussion: https://groups

[2021-02-24 22:34] sharonakrinsky commented on #167
I just came here to make the same comment. None of the images are rendering on the slides.

[2021-02-25 00:05] siwelwerd commented on #167
@sharonakrinsky: The workaround I am using is to pull up the HTML version in another tab, and just switch over there to show the image.  But yeah, we need to get this fixed.

[2021-02-25 15:33] StevenClontz commented on #167
I did a quick and dirty fix - let me know how badly I broke things (but I see an image at https://teambasedinquirylearning.github.io/linear-algebra/slides.html#/8/1 at least).

[2021-02-25 15:38] siwelwerd commented on #167
Looks okay -- there are some minor scaling issues on some of them that I will think will have to be solved individually.

This may be a separate issue that I just noticed, or it may have been caused by your change -- there seem to be extra line breaks on multi-part activities now, e.g. https://teambasedinquirylearning.github.io/linear-algebra/slides.html#/23/4

[2021-02-25 15:44] StevenClontz commented on #167
Yep, still work to do here, but (until you tell me otherwise) nothing breaking in the next week or so. Expecting to tackle these sorts of things in May; drop notes on all other presentation errata here in the meantime.

[2021-02-25 15:54] siwelwerd commented on #167
The extra line breaks are pretty ugly in some cases, and might have a systemic fix, so should be a higher priority. Image scaling issues can wait.

Also making a note that there is something weird going on on Slide 2.5.2 https://teambasedinquirylearning.github.io/linear-algebra/slides.html#/10/3 . I just haven't had a chance to dig into the code yet to fix it.

[2021-03-01 22:46] sharonakrinsky commented on #167
I hit 2.5.2 today and yeah, unreadable - had to switch to the book.

[2021-03-01 22:58] siwelwerd commented on #167
Found it -- there was a missing `<p>...</p>` inside the `<statement>`

Looks better now: https://teambasedinquirylearning.github.io/linear-algebra/slides.html#/10/3

@StevenClontz Is there an easy way to validate things like this?

[2021-03-01 22:59] sharonakrinsky commented on #167
Thank you! I need it again in about 45 minutes :)

[2021-03-02 18:53] StevenClontz commented on #167
@siwelwerd https://github.com/PreTeXtBook/pretext-cli/issues/66 is on our TODOs

[2021-03-17 21:03] sharonakrinsky commented on #167
Issue with 3.1.3 - not presenting correctly on slides.

[2021-03-17 21:48] siwelwerd commented on #167
Looks okay for me in Chrome... what browser are you using?

<img width="950" alt="Screenshot 2021-03-17 164635" src="https://user-images.githubusercontent.com/30658947/111543070-8a20e380-8740-11eb-88ab-a56e2e996dfa.png">

[2021-03-17 21:53] sharonakrinsky commented on #167
Chrome.

[2021-03-17 21:54] sharonakrinsky commented on #167
OK - despite navigating away and back several times it didn’t work, but then refreshed the tab and it did. Weird!!!!

[2021-03-17 21:59] siwelwerd commented on #167
Maybe some weird caching thing, I don't know! Keep letting us know as you find things. I am a few sections ahead of you (started A3 today), so I'm trying to go ahead and fix anything I see.

[2021-03-30 20:14] StevenClontz opened #169 "Embed CheckIt exercises using iframe"

[2021-04-06 13:08] siwelwerd opened #171 "Align sample solutions with updated standards/ordering"
The Module M (and maybe others?) sample solutions are in an old order; what is labeled M4 should be M2, etc.

[2021-04-06 19:12] siwelwerd commented on #134
@StevenClontz Is this on your radar to be done in the next two weeks?

[2021-04-06 19:17] #171 closed

[2021-04-06 19:26] StevenClontz commented on #134
It wasn't but if it's a blocker I can carve out the time

On Tue, Apr 6, 2021, 2:13 PM Drew Lewis ***@***.***> wrote:

[2021-04-06 19:31] siwelwerd commented on #134
I didn't have time for any applications last semester because we lost so many days to COVID + hurricanes. But this semester I am on track to have the last week of classes (Apr 26-30) to spend on applications, so it would be nice if these were in the pretext slideshow.

[2021-04-06 20:19] StevenClontz commented on #134
Sure - all of them or do you have any priorities?

Steven Clontz
https://clontz.org - ***@***.***

On Tue, Apr 6, 2021 at 2:32 PM Drew Lewis ***@***.***> wrote:

[2021-04-07 13:08] siwelwerd commented on #134
The PageRank one and the geology one are probably the only two I'll have time for. The other two could wait.

[2021-04-16 17:06] siwelwerd commented on #167
The figure numbering in the slides does not seem to match the figure numbering in the HTML.

[2021-04-16 17:20] StevenClontz commented on #167
Can you drop links for where you noticed this?

[2021-04-16 17:24] siwelwerd commented on #167
https://teambasedinquirylearning.github.io/linear-algebra/slides.html#/27/2

[2021-04-16 20:30] StevenClontz opened #172 "Merge M3&M4?"
In our recent meeting it was brought up that checking invertibility and computing inverses might be appropriately combined into the same outcome.

[2021-04-16 20:34] siwelwerd commented on #172
Yeah, we have gone back and forth on this previously. The counterpoint was that having them separate leaves a couple of "easy wins" later in the semester for students. I think it might be good to leave this issue open for the time being, and let the TBIL fellows make the call this summer.

[2021-04-18 19:07] StevenClontz commented on #134
https://teambasedinquirylearning.github.io/linear-algebra/applications.html is now a thing, leaving this issue open until the others are ported.

(The slides look pretty ratty though but are functional I think.)

[2021-04-19 13:31] siwelwerd commented on #134
Yeah, should work for my purposes, thanks.  There is something screwy with the sectioning though, https://teambasedinquirylearning.github.io/linear-algebra/geology.html sends you to the PageRank section.

[2021-04-19 14:00] siwelwerd opened #173 "Images disappearing"
99% sure this is just a documentation issue. But in @StevenClontz's most recent commit, he introduced some new diagrams (in the pagerank section). I ran a git pull, made a minor change elsewhere, and published the change, and it looks like this deleted the diagrams. Because I didn't change or add any diagrams, I just ran 'pretext build' instead of 'pretext build -d'

Now that I think about it, the

[2021-04-19 15:22] siwelwerd commented on #173
Ah, okay, see here:

https://github.com/PreTeXtBook/pretext-cli/blob/516a2e4e3950bb73214bfa0639b4db23f84436b2/pretext/cli.py#L225

The 'pretext publish' command deletes the docs folder. When you build new diagrams, they are created in the ignored source/output/html/images, and 'pretext publish' copies them to docs/images .  But when I run 'pretext publish', it deletes docs/images, and then since I

[2021-04-19 16:09] siwelwerd commented on #172
Thought: add a standard (or part of a standard) with a prompt like: Suppose T: R^3 --> R^3 is an invertible linear transformation such that T(1 2 3) = [1 1 1] and T(4 5 6) = [-3 0 -2]; compute T^{-1} ( -2 1 -1).   I don't think this can be done via calculator.

[2021-04-19 18:06] StevenClontz commented on #173
Thanks for the detective work. Yeah, for now make sure you rebuild images
regularly, but we'll leave this open so I can make sure it's part of our
work this summer improving the CLI workflow (generally, and in particular
for our Fellows).

Steven Clontz
https://clontz.org - ***@***.***

On Mon, Apr 19, 2021 at 10:23 AM Drew Lewis ***@***.***>
wrote:

[2021-04-19 18:13] StevenClontz commented on #134
Whoops that's fixed in source at 2ad3e58fd - rebuilding now...

Steven Clontz
https://clontz.org - ***@***.***

On Mon, Apr 19, 2021 at 8:31 AM Drew Lewis ***@***.***> wrote:

[2021-04-24 16:33] StevenClontz commented on #167
Reporting back that figure numbering is an upstream issue with rbeezer/mathbook - we're just inserting the PreTeXt figures as follows (which are automatically numbered):

[code]

Opening discussion at https://groups.google.com/g/pretext-dev/c/tEZRvruigP0 (really a much broader discussion, but it'd replace our current need for a conversion from pretext/book to pretext/slideshow)

[2021-04-26 13:50] siwelwerd opened #174 "HTML rendering large matrices"
This may be the only place this comes up, but the HTML version seems to have trouble rendering large matrices. Note how it overflows the brackets.

![Screenshot 2021-04-26 084810](https://user-images.githubusercontent.com/30658947/116093583-6cfb0100-a66c-11eb-9a6f-7b94d33a1055.png)

[2021-04-26 15:50] siwelwerd opened #175 "Consider adding E standard on number of solutions"
This would address two issues:

- It is the last week of class, and I am still seeing students unable to look at a RREF matrix and correctly identify if it has a solution or not (as many subsequent standards reduce to this kind of question).
- This would allow us to make the current E3 more uniform by only asking for the solution set of a system with infinitely many equations.

[2021-04-26 16:16] StevenClontz commented on #175
I like this. Since my pivot to async quizzing I've become more comfortable with longer questions, e.g. https://checkit.clontz.org/#/banks/clontz-diff-eq/CC3 - I had 3 things I wanted to check (imaginary roots, repeated roots, and higher-order ODEs) so I just rigged 3 examples that covered each type. So another option is to have E3 have 3 systems covering the 3 cases, and for each system the studen

[2021-04-26 19:23] siwelwerd commented on #175
Yeah, the benefit to separating them is that we can emphasize that you don't have to completely solve it to know how many solutions there are, which is useful on certain things.

Agreed on giving them one of each type for one of these, but if we also make these changes (https://github.com/TeamBasedInquiryLearning/checkit-tbil-la/issues/16) to E3, might be more manageable to separate into two stand

[2021-04-26 21:14] StevenClontz commented on #174
We might be able to work around this by using e.g. `\left[\begin{array}` and so on, but this seems to be an issue on PreTeXt's side, since copy-pasting our tex source into a StackExchange draft post renders things correctly:

![image](https://user-images.githubusercontent.com/1559632/116151509-4c519c00-a6aa-11eb-9922-bb4efb6222f2.png)

[2021-04-26 21:17] StevenClontz commented on #174
Hmm I just noticed that maybe this is also a problem with smaller matrices? At least, the rest of the book we use `\left[\begin{array}` and don't see the issue, so maybe we should switch to that convention throughout regardless.

[2021-04-27 13:44] siwelwerd commented on #174
Looks like the only other place we use `\begin{bmatrix}` is in E1 (and now the applications). Those look fine, so I guess it's the extra vertical height of the fractions messing things up.

I'll leave this open until I have a chance to go through and change all of our `\begin{bmatrix}` to `\left[\begin{array}`.

Also, a quick thing to note if you kick this upstream to the PreTeXt folks: the effect

[2021-04-30 20:44] StevenClontz commented on #174
(I'm working on this bmatrix stuff now... thought to leave a note to ensure you're not also spending your friday afternoon this way...)

[2021-04-30 20:56] StevenClontz commented on #174
closed by 52a681a3d

[2021-04-30 21:27] StevenClontz commented on #169
PreTeXt does not support embedding iframes so I'm going to nix this for the near future.

[2021-04-30 21:27] #169 closed

[2021-04-30 21:35] StevenClontz commented on #165
It was probably too much to hope for, but ipywidgets (what I use to make a UI for CheckIt in Jupyter) does not play with SageMathCell, and I'd expect Octave would be less likely to have widget support. https://sagecell.sagemath.org/?z=eJzLzC3ILypRyCyoLM9MSU8tKVZILFaAMrm4inNK04sVbBWi1RPVdRTUk5JBZEpqGohKV4_lSinKLwBKQ9XruQC5KfnleRr5BSWZ-XnFtmD9mlwpmcUFOYmVGiDlmgCm5ibb&lang=sage&interacts=eJyLjgUAARUA

[2021-04-30 22:16] siwelwerd commented on #165
I'm not that tied to Octave, and I am skeptical that what little exposure they are getting in our class is transferring in a useful way to their engineering classes. So I'm skeptical that it would be worth the cognitive overload.

[2021-05-01 02:20] StevenClontz commented on #165
I don't believe we're doing anything to create fluency, but I'm betting we're contributing a small part to foster familiarity/comfort. I wonder if "coding anxiety" is a similar concept to "math anxiety".

[2021-05-05 21:16] StevenClontz commented on #134
https://teambasedinquirylearning.github.io/linear-algebra/truss.html is now live*

@sharonakrinsky and @siwelwerd should put eyeballs on it to make sure I didn't mess anything up.

* The quick turnaround is courtesy productive procrastination from other stuff lol

[2021-05-05 21:36] sharonakrinsky opened #176 "Issue with Appendix activity A.2.1"
Typo in the word "important" on Activity A.2.1.

[2021-05-05 21:36] sharonakrinsky opened #177 "Slide issue with appendix slide for Observation A.2.2"
The slide is repeating the title. "The $978,000,000,000 IdeaThe $978,000,000,000 Idea"

[2021-05-05 22:40] sharonakrinsky commented on #134
I love it! Productive procrastination!!! It looks good at a first glance.

[2021-05-05 22:41] sharonakrinsky commented on #134
Also - I just posted two issues on the other applications

[2021-05-06 13:56] siwelwerd commented on #177
I think this is an upstream issue with PreTeXt slide generation. It does not appear to be handling the `<title>` correctly inside of an `<observation>`

[2021-05-06 13:58] #176 closed

[2021-05-06 14:39] #166 closed

[2021-06-16 18:44] StevenClontz opened #179 "Add link to usage survey for instructors to let us know they're using the book"

[2021-06-28 14:51] StevenClontz opened #180 "Consider definition of basis to be an ordered tuple, not an unordered set"
Via Steve Gubkin

I thought about it for (only) a few minutes, and it definitely would have some advantages, particularly when considering repeated vectors in a basis. Technically for us, `{a,b,c,b}` might be a basis that *appears* to have 4 elements, even though b is repeated. It has the downside (maybe?) that `<a,b,c>` and `<c,b,a>` are different bases.

Maybe a question to bounce off TBIL fello

[2021-06-28 15:12] siwelwerd commented on #180
I have 8 introductory books in my office, and 7 of them say "set" (the 8th is ambiguous about what it means). Axler's (notoriously contrarian) book uses lists of vectors. The more general algebra texts (like Lang) say set. So I am disinclined to differ from the consensus.

What most of these books do though, is also consider *ordered bases*, which we don't (yet). That is something that makes sense

[2021-06-28 20:48] StevenGubkin commented on #180
You need an ordered basis to write down a matrix for any linear map, even if you are not doing change of basis.  For instance, what is the matrix of the derivative on the space of polynomials of degree less than or equal to 5 in the basis of monomials?  One needs to decide on an ordering!  The ordering most mathematicians would choose (ascending degree) is different from the one most students woul

[2021-06-28 21:17] siwelwerd commented on #180
Sure, at the moment these activities only work with matrices for maps between Euclidean spaces, with the implicit understanding that these are using the typical ordering of the standard basis.  One of our focuses this summer is to expand the activities to be more applicable to broader contexts, rather than our local context we had in mind when authoring them.

[2021-06-28 21:58] StevenClontz commented on #180
Here's the context from our activity sequence: Definition 3.2.3
https://teambasedinquirylearning.github.io/linear-algebra/A2.html#definition-19

[2021-07-06 13:38] StevenGubkin opened #181 "V3 explanation"
While exploring the reasoning behind V3 in class, we row reduced some matrices using b = <b_1, b_2, b_3, ..., b_n> as the "target vector".  We saw that if the RREF of the matrix of vectors had a row of zeros, then this would give a relation on the b variables, and so some choice of b would lead to an inconsistent system.

One student wondered whether it was possible that, while row reducing this "

[2021-07-06 13:41] siwelwerd commented on #181
Which activity is this in reference to?

[2021-07-06 13:48] StevenGubkin commented on #181
It is referring to the explanation of V3 in the textbook:

https://teambasedinquirylearning.github.io/linear-algebra/V3.html

It is stated as a "fact" without any reasoning.  The activity of row
reducing using a "general vector" <b_1, b_2, ..., b_n> was a students idea
for trying to see what the "fact" was true.  The class was almost able to
convince itself of the "fact", but couldn't explain why

[2021-07-06 13:59] siwelwerd commented on #181
Fact 2.3.10?  Yeah, it's a little hand-wavy at the moment.

I think the appeal of saying "some vector" is that it removes the emphasis from finding what that particular vector is.  I'll leave this open until I get a more detailed explanation added in there.

Sometimes choices were made to limit things presented on slides (to not overload the slides) before there was ever a "textbook" version. I th

[2021-07-06 14:14] StevenGubkin opened #182 "Fact 2.4.3"
"Any subset  of a vector space  that contains the additive identity satisfies the eight vector space properties automatically, since it is a collection of known vectors."

I don't think this sentence makes sense.  If any subset satisfied the axioms, then wouldn't any subset be a subspace?  I think just removing this sentence would be a fine fix.  It would require a slight tweak of the next sentenc

[2021-07-07 12:04] siwelwerd commented on #182
This is related to #142 , in that the key subtlety is what is the codomain of the operations. So we need to make this more clear here as well.

[2021-07-18 18:40] siwelwerd opened #183 "Videos disappeared"
I rebuilt today to fix the missing slideshow error reported via email, but for some reason the videos seem to be missing now.   No idea what happened, I made no edits to the source.

[2021-07-19 16:36] StevenClontz opened #184 "Move answers/solutions to <answer>/<solution>?"
Often we have "observation" that's spelling out an answer. To tuck those away in the textbook and avoid spoiling insights for students, we should mark them up as <answer>/<solution> environments. (And then, I need to extract those as slides for presentation.)

[2021-07-20 14:46] #183 closed

[2021-07-22 01:10] StevenClontz opened #185 "Use <question> for MCQs"
I'm working this evening on PreTeXting a new Cal 2 outcome. While MCQs are used as TBL "application activities", would it make sense to annotate them as `<question>`s in PreTeXt?

I guess I'm sort of thinking about #79: if we mark MCQs as questions, it provides a clear contrast with other activities that are intended to produce written artifacts. Then it's easy for instructors to make rules like "

[2021-07-26 13:40] siwelwerd commented on #185
I guess I'd argue that many MCQs are also intended to produce written artifacts and should have photos uploaded as well.

There's a typesetting issue though where subparts of tasks are presented as (a) and multiple choice options are a. (except in the slides, where they are 1...).  A separate tag might help with that, though <question> is not very descriptive (not all questions are multiple choice

[2021-07-26 14:09] StevenClontz commented on #185
Hmm, I don't recall writing many MCQs where I cared strongly about students maintaining artifacts of their work, since most are meant to motivate and therefore are followed-up by Observations/Facts/etc. Regardless, that can still be determined by each instructor if MCQs are labeled as "Questions".

Discussion on labeling of MCQs and tasks: https://github.com/rbeezer/mathbook/issues/1548

Slides wi

[2021-07-26 14:16] siwelwerd commented on #185
I like the suggestion for `<choices>` better than having `<question>`s that aren't `<activity>`s.

[2021-08-12 16:08] siwelwerd opened #186 "Convert videos to YouTube"
Currently videos in the textbook are in Panopto, which changed how they do things and broke all of the links. To prevent this from happening again, the videos need to be uploaded to YouTube and the links here updated.

[2021-08-12 16:38] siwelwerd commented on #184
Does PreTeXt have a `<spoiler>` tag or attribute?

[2021-08-13 01:14] StevenClontz commented on #184
`<commentary>` only shows up when asked for (right now, when we do `subset` builds, but long-term we could have an instructor version that's less publicized than the main version).

[2021-08-13 01:15] StevenClontz commented on #184
https://groups.google.com/g/pretext-dev/c/UeZJff9uwn4 allows for tagging more arbitrary things to only appear in specific version builds.

[2021-08-13 19:09] StevenClontz commented on #186
Channel is up here: https://www.youtube.com/channel/UCvTIG_smKGALUZL0KWRVFWg/

Drew send me (elsewhere) your non-South Google account info so I can add you as a manager.

[2021-08-16 21:40] StevenClontz commented on #186
Videos are up there now. I haven't wired them up to the book yet; as a stop-gap I'll first link to the playlist https://www.youtube.com/watch?v=kpOK7RhFEiQ&list=PLwXCBkIf7xBMo3zMnD7WVt39rANLlSdmj in the frontmatter somewhere.

[2021-08-18 17:16] StevenClontz commented on #186
This is done in https://stevenclontz.github.io/linear-algebra-tbil-2021/ - to be honest, I'm not going to rush to fix things here upstream until we get a request for it since everyone I know is using that in-development version this fall. Once that's merged here this will be closed in any case.

[2021-09-03 19:35] StevenClontz opened #187 "establish reasoning for infinitely-many solutions in LE3"
I think we've set up students to make clear arguments for 0 and 1 solutions in LE3, but we may want to make some sort of "less variables than non-trivial equations" argument for why you get infinitely-many solutions otherwise.

[2021-09-07 17:13] siwelwerd commented on #187
Also thinking the checkit problems might need some more variety in their shapes.  Seeing a few students try to infer that a row of 0=0 implies infinitely many solutions (which is a fair pattern match to the existing check-it problems, but not true in general)

[2021-09-07 18:10] StevenClontz commented on #187
Agreed - easy solution there is to ensure 0=0 appears in every assessed example.

[2021-11-18 16:31] owensks opened #189 "Typos in GT1"
There are problems in GT1 that say "if det(C) is blah, find det(RC)" but the size of R is 4x4 and the size listed of C is 3x3. The 3x3 needs to be changed.

Activity 5.1.33(b)
https://stevenclontz.github.io/linear-algebra-tbil-2021/GT1.html#task-125

Activity 5.1.32(b)
https://stevenclontz.github.io/linear-algebra-tbil-2021/GT1.html#task-123

[2022-03-18 12:39] owensks opened #193 "CheckIt import into Brightspace (D2L)"
When a problem database is generated from CheckIt to import into Brightspace, the LaTeX code for $\middle|$ does not properly render.
![middle](https://user-images.githubusercontent.com/91138060/159004454-72465846-1010-4f71-835d-c02e9c8b16ff.JPG)

It shows up with the actual "\middle|". This appears in AT3 problems for image and kernel, but there are other places that \middle| also shows up, maybe

[2022-03-18 12:42] owensks opened #194 "Checkit Import into Brightspace (D2L)"
When importing the problem database from CheckIt into Brightspace, the subscript numbering on VS9 tends to loop after three occurrences. So x_4 shows up as x_1, x_5 shows up as x_2, etc. Sample below.
![vs9](https://user-images.githubusercontent.com/91138060/159004755-58db1b1d-d3cb-45bd-9de0-1dd259514f23.JPG)

I think the pattern is that for three or fewer variables, things are OK, but whenever th

[2022-03-18 15:08] StevenClontz commented on #194
This is a more general bug (that happens only *sometimes* and we're not sure why). I'm hoping it comes out in the wash of an update to 0.2 but will investigate further if not.

https://github.com/TeamBasedInquiryLearning/checkit-tbil-la/issues/37

[2022-03-18 15:08] #194 closed

[2022-03-18 15:09] StevenClontz commented on #193
moved to checkit repo

[2022-03-18 15:09] #193 closed

[2022-08-02 18:19] StevenClontz opened #198 "clarify our definition is for a "real" vector space"
@siwelwerd pointed out that we make claims about vector spaces that don't hold for, say, vector spaces over a finite field. I didn't get this change in the 2022 edition (because it'd mess with numbering) but we should clarify that in our activities all vectors spaces are over the reals.

[2022-08-02 18:20] StevenClontz commented on #198
(It looks like someone snuck the word "real" in the claim that needed it, but we should *remove* that as it's probably a distraction for a student, once we add the caveat that abstract vector spaces can be over other fields such as the complex numbers.)

[2022-08-03 19:31] jackkidane opened #199 "Question: Is there a PDF version of TBIL?"

[2022-08-03 20:06] StevenClontz commented on #199
Yep!

![screenshot of TBIL LA landing page](https://user-images.githubusercontent.com/1559632/182699249-a2479d7a-7066-42c7-a2ec-3fb2622ae7ae.png)

[2022-08-03 20:06] #199 closed

[2022-08-10 13:26] #189 closed

[2022-08-10 13:26] #186 closed

[2022-08-10 13:27] #179 closed

[2022-08-10 13:35] siwelwerd opened #200 "Exercise links broken"
In the publishing of the 2022 edition, it appears the links to the exercises in each section were not updated (in particular, the linear-algebra/ subdirectory appears missing from the path). I spot checked a couple, I am guessing they all need to be updated.

Example:
https://teambasedinquirylearning.github.io/linear-algebra/2022/AT3.html#exercises-16

This should be corrected in the live 2022 edi

[2022-08-10 13:35] #172 closed

[2022-08-10 13:36] #175 closed

[2022-08-10 13:39] siwelwerd opened #201 "Application slides not generated"
For all three sections of applications, the slide generation appears to have only produced the title slide.

Example: https://teambasedinquirylearning.github.io/linear-algebra/2022/truss.slides.html

This should be fixed in the live 2022 edition.

[2022-08-10 13:44] #146 closed

[2022-08-10 13:45] #134 closed

[2022-08-10 13:46] #135 closed

[2022-08-10 13:53] siwelwerd commented on #144
I think it is time to revisit this conversation given the "publication" of the 2022 version.

[2022-08-10 13:56] siwelwerd commented on #198
"Someone"... :upside_down_face:

I think I might opt for `<commentary>` after the relevant places pointing this out. This removes the distraction while also providing the level of precision that some users of our book want.  Are our slides set up to omit `<commentary>`?

[2022-08-11 17:06] StevenClontz commented on #198
No, and I think it's more likely that all PreTeXt-built HTML will get a "slide/focus/presentation view" mode before I get any new features added to our project-specific conversion.

[2022-08-11 20:24] siwelwerd opened #202 "Slides not handling multi-column ordered lists"
The `cols` attribute of an ordered list is not being handled properly by the slides.

Example: Activity 1.2.2
Source  https://github.com/TeamBasedInquiryLearning/linear-algebra/blob/1ce6adddcd62132ed9d985bc717acdf01062c419/source/01-LE/02.ptx#L85
HTML https://teambasedinquirylearning.github.io/linear-algebra/2022/LE2.html#activity-4
Slide https://teambasedinquirylearning.github.io/linear-algebra/2

[2022-08-11 20:27] siwelwerd commented on #202
It doesn't always look as bad as this example, but it is used somewhat frequently.

[code]

[2022-08-23 19:10] siwelwerd commented on #200
Fixed by @StevenClontz in f86e8fd676c95f85bd0e8972ebb79f037d82dce5

[2022-08-23 19:10] #200 closed

[2022-08-25 19:48] StevenClontz commented on #144
JIBLM: need to adapt to their TeX template. Unclear to me if hacking TeX output from PreTeXt, or writing a conversion from PTX to JIBLM-TeX is more work.

AIM: maybe all we have to do is email textbooks@aimath.org ? https://aimath.org/textbooks/evaluation-criteria/

[2022-08-26 17:56] StevenClontz commented on #202
Basically we have a hack that makes columned lists "inline" lists, since setting up the columns is less trivial and PTX's reveal output doesn't support them yet. This is more in the pile of stuff that could be improved, but I'm stalling for the overhauled PreTeXt HTML/JS redesign in the hopes I can hook into that to get slides directly from HTML builds that look much closer to the HTML book.

[2022-08-29 13:57] siwelwerd commented on #202
I am somewhat tempted to remove the `cols` tag from all of them (or maybe just the ugliest ones; some of them are still pretty readable) until PreTeXt properly supports this.

[2022-08-31 20:04] siwelwerd opened #203 "Ensure time estimates always present"
This should be the places that need updating:
[code]

[2022-09-01 15:18] StevenClontz commented on #203
I'm tempted to suggest this is a wontfix - the more we work with instructors the less I believe we can judge this kind of thing in a way that's useful across campuses with different student bodies. The same activity at a SLAC where only math majors take linear algebra is gonna be way quicker than an R1 with 90% engineering majors.

[2022-09-01 17:29] siwelwerd opened #204 "Improve readiness checks"
The readiness checks need a thorough review.  Alignment between some of the questions and the objectives could be improved. For example, on questions about solving a system of equations, students often plug the multiple choice options in and check, instead of solving the system (which is the objective).

[2022-09-14 18:15] StevenClontz commented on #201
Closed in [18df6d9](https://github.com/TeamBasedInquiryLearning/linear-algebra/commit/18df6d95e9a5ecb80a18c3617e99970cd97e4f90)

[2022-09-14 18:15] #201 closed

[2022-09-14 21:40] StevenClontz commented on #201
(actual solution was at 24caaffe1b9b4e59941f2c5c9f0a6ae7774a4dc4 )

[2022-09-19 13:02] owensks opened #205 "VS2 link points to VS1 problem"
At the [end of section VS2](https://stevenclontz.github.io/linear-algebra-tbil-2021/VS2.html), there's a link to the sample problem, [but it accidentally points to the VS1 sample problem](https://stevenclontz.github.io/linear-algebra-tbil-2021/VS2.html#subsection-25) instead of the VS2 sample problem.

Specifically this is where the link needs updating: (https://stevenclontz.github.io/linear-algeb

[2022-09-23 20:35] StevenClontz opened #206 "VS1 make multiplication defined for all vectors"
https://teambasedinquirylearning.github.io/linear-algebra/2022/exercises/#/bank/VS1/6/ - x^c is undefined for x=0, c<0.

I think replacing c with |c| fixes things (maybe breaks some other properties of a vector space which we could add).

[2022-10-07 18:01] StevenClontz opened #207 "LE1 vocabulary mismatch"
via https://github.com/StevenClontz/checkit/issues/75

thanks @jbolkema!

[2022-10-07 18:02] StevenClontz commented on #207
Fixed in 73ca3cb0ee84a89b24d7cef4919bbe4772d4ee61

[2022-10-07 18:02] #207 closed